[2014-08-01 15:47] shivesh1210 opened #1 "Numerical sensitivity problems in Eigenpy"
I found some numerical sensitivity problems in Eigenpy when I execute the same program again and again. I exposed the Dynamics module using boost python and when I try to call the ForwardDynamics or InverseDynamics functions in python, once in 20-30 times I get a strange answer as shown in the figure below. The first vector is the QDDot of 3 body system connected with revolute joints calculated us

[2015-04-29 09:48] #1 closed

[2015-06-16 17:22] jcarpent opened #3 "Problem mac compatibility"
It seems that the symbols of libeigenpy are not well imported when there are exported in SHARED library: boost::python symbols are not well exported. A solution to fix the bug consists in making libeigenpy STATIC.

[2015-08-07 11:28] #3 closed

[2016-02-01 11:25] aelkhour opened #8 "pkg-config does not contain the correct version"
I don't know what causes this, but the eigenpy.pc file contains the version 1.2.0-14-g1b20 instead of 1.3.0. @jcarpent Could it be related to 4683053f2016491f40f145e01fb67074cdef3bc6?

[2016-02-01 12:47] jcarpent commented on #8
The problem was not coming from 4683053 but it was linked to the tag done with the Github interface which was not annotated. The problem is now fixed.

[2016-02-02 07:58] aelkhour commented on #8
Thanks @jcarpent, closing.

[2016-02-02 07:58] #8 closed

[2017-12-16 16:33] zongmianli opened #18 "Minor issue with Python unit test on MacOS 13"
Hello, I have got an argument mismatch error when trying to run `python/test_unit/test_eigenpy.py`:

Specifically, this error occurred when the program was passing a numpy Matrix `M` to the function`eigenpy.reflex(M,verbose)` . However the problem can be solved by replacing
`const typename eigenpy::UnalignedEquivalent<MatType>::type & M` with `const Eigen::MatrixXd & M` (i.e. specifying the argume

[2017-12-16 16:43] jcarpent commented on #18
This code is deprecated. I advise you to not use it as it is now.
It was used before when alignment of matrices was an issue. This is no more the case.

[2017-12-16 17:33] zongmianli opened #19 "Compatibility with Pinocchio on MacOS 13"
I bound a C++ function `foo` with `Eigen::Matrix` arguments using EigenPy. I built a `lib` which contains `foo`. Then I import `lib` in Python and `foo` worked fine.

However, there is a problem when I insert `import pinocchio as se3` before calling `foo` in Python: Python will crash when the execution of `foo` **terminates**, with the following error:

I also observe that the problem occurs only

[2017-12-16 17:37] jcarpent commented on #19
Can you provide all the code?

[2017-12-16 17:37] #18 closed

[2017-12-16 18:31] zongmianli commented on #19
I have created a [minimal toy example](https://github.com/zongmianli/eigenpyIssue19
) which shows the issue.

`git clone https://github.com/zongmianli/eigenpyIssue19`
`cd eigenpyIssue19`
`mkdir build`
`cmake ..`
`make`

Then `cd ..` and `python test.py` and `python test_bad.py` and I have got these results:

Hope it clear and thanks in advance!

[2017-12-18 08:17] jcarpent commented on #19
I tested your code and it works perfectly on High Sierra.
I guess the problem comes from the conflict between two installed version of EigenPy on your mac.
You can check with `locate libeigenpy.dylib`

[2017-12-18 11:26] zongmianli commented on #19
Thanks for the help and the problem is solved. In fact I was using built-from-source Eigenpy and Homebrew Pinocchio, from which the problem comes. I did the following
- I first `brew uninstall pinocchio` and `make uninstall` Eigenpy. Then I reinstalled and relinked both softwares via Homebrew. However this time I even got the same malloc error when running `python test.py`.
- Then I tried to rebui

[2017-12-18 11:26] #19 closed

[2017-12-19 14:47] jcarpent opened #20 "Eigen alignment issues"
Depending on the compilation options, Eigen may use two different methods to allocate or deallocate dynamic matrices.
If libeigenpy and other Python libraries are compiled with two different set of options may lead to malloc segmentation fault.
This is for instance what happened in issue #19.
I proposed a fix to Eigen library (see https://bitbucket.org/eigen/eigen/pull-requests/354/fix-aligment-is

[2017-12-19 14:48] jcarpent commented on #20
@zongmianli you may be concerned by this issue.

[2018-01-29 02:35] jviereck opened #24 "Problem writing C++ binding using eigenpy"
(Not sure filling this here is the correct place - feel free to tell me if there is a mailing list etc that is more suitable.)

Writing a small C++ <--> Python binding, I defined a `hello` function and use `eigenpy` as follows:
[code]

This compiles fine. However, when running the following python code

[code]

I get the error

[code]

Any idea?

[2018-01-29 09:16] nmansard commented on #24
Your python code defines an integer vector (only int in 1,2,3, hence interpreted by default by NumPY as np.int type), while your C++ code expects a vector of doubles (VectorXd in argument of the function. The code Python should work find with:
toy_hopper_compare.pin_hopper_simulator.hello(np.matrix([1., 2., 3.]))
Alternatively, explicitly specify that your Python vector is double, by giving the ty

[2018-01-29 09:17] nmansard commented on #24
I close the issue. Feel free to re-open it if needed.

[2018-01-29 09:17] #24 closed

[2018-01-29 14:57] jviereck commented on #24
Thanks a lot, this made it work :) !

[2018-02-26 10:47] nim65s opened #25 ""Correct exception catch" patch from robotpkg"
There are 2 patches in robotpkg. The first one has been put here by 8771002, and the second one is this:

[code]

@jcarpent: could you put it here ? Otherwise I can do it, if you don't have time for that.
The goal is to make a new release, that will be used to move this package from robotpkg-wip to robotpkg.

[2018-02-26 13:02] jcarpent commented on #25
I'm going to do it right now.

[2018-02-26 13:09] jcarpent commented on #25
I just update devel and master accordingly.
I also push a new release on the ftp server of Robotpkg.
You can now proceed to the new release.

[2018-02-26 13:09] #25 closed

[2018-05-02 12:44] olivier-stasse opened #31 "New release"
Dear Justin,
Could we make a new release to have the new python fix on the master branch and ready for packaging.
Or do you see a major problem with that ?
All the best,
Olivier.

[2018-05-02 12:59] jcarpent commented on #31
I could. I will try to make it today.

[2018-05-02 14:34] jmirabel opened #32 "Eigen Ref"
I try to bind a function whose prototype is `f(Eigen::Ref)`. As far as I understand, this package only support `f(eigenpy::Ref)`. Am I right ?

[2018-05-02 14:36] olivier-stasse commented on #31
Thank you very much.

[2018-05-02 15:42] jcarpent commented on #32
eigenpy::ref is a simple inheritance from Eigen::Ref. You just need to add in your Python wrapping something like:
`
template<typename MatType>
void setOnes_wrap(eigenpy::Ref<MatType> mat)
{
  setOnes(mat);
}
`
where

`template<typename MatType,int Options, typename StrideType>
void setOnes(Eigen::Ref<MatType,Options,StrideType> mat)
{
  mat.setOnes();
}`

I just updated the unit test related to r

[2018-05-02 15:54] jcarpent commented on #32
Please see https://github.com/stack-of-tasks/eigenpy/blob/devel/unittest/ref.cpp

[2018-05-02 18:26] jcarpent commented on #31
The release 1.4.2 is done. The archive is already on robotpkg servers.
I let you update the master of robotpkg to publish this release.

[2018-05-02 18:26] #31 closed

[2018-05-03 08:25] jmirabel commented on #32
I does not solve my issue because it needs the library to be bound to be template, i.e. not
[code]
but
[code]

Can't `Eigen::Map` solve this issue ?

[2018-05-03 08:27] jmirabel commented on #32
I think it cannot...

[2018-05-03 08:38] jcarpent commented on #32
No. This comes from the fact that Numpy is by default row major while Eigen is col major.
One way to solve this issue is by imposing Numpy to be column major. And then due similar wrapper, but without the stride option.

[2018-05-03 09:16] jmirabel commented on #32
Don't you think there should be two converter in eigenpy (one for each storage order of numpy matrices) ? Or only accept col-major Numpy matrices (and maybe provide a function that creates a suitable Numpy matrix from any type of Numpy matrix) ?

[2018-05-03 09:37] jcarpent commented on #32
This is the idea of eigenpy::ref to be compatible with both conventions.
For the second choice, I would prefer to avoid as it will create additional memory that are hard to track for end users.
If you don't want to share memory between numpy and Eigen, just create a wrapper of your function having Eigen::MatrixXd as inputs. It will be simpler.

The main issue comes seems to come from numpy which d

[2018-05-07 08:12] jmirabel commented on #32
But then I do not understand the purpose of `eigenpy::Ref`. If one has to write:
[code]
instead of:
[code]
why would one use `Eigen::Ref` rather than `Eigen::MatrixBase` ? I mean that the purpose of `Eigen::Ref` is to avoid the burden of having to make all function taking Eigen object template. I think `eigenpy::Ref` is only useful if it works with the second prototype.

[2018-05-07 08:48] jcarpent commented on #32
As I told you last time, this a preliminary work. 
It requires more stuff to do for final integration. 
The only thing I can tell you is do not use it if you don't need to share memory. 
Just make a wrapper it is simpler.
Le Lundi, Mai 07, 2018 10:12 CEST, Joseph Mirabel <notifications@github.com> a écrit:
 
But then I do not understand the purpose of eigenpy::Ref. If one has to write:template<typ

[2018-05-07 09:12] jmirabel commented on #32
Got it. Sorry for the noise then.

[2018-05-28 08:42] nim65s opened #35 "Python 3 segfaults on exit interpreter"
Hi,

As shown by #34, we have random segfaults on python3:
https://gepgitlab.laas.fr/gsaurel/eigenpy/-/jobs/2812

Here is a minimal working exemple triggering this segfault:

[code]

And here is what gdb finds:

[code]

[2018-06-06 13:34] jcarpent commented on #35
It appears that this bug is currently appearing on Python 3.4 which is the default version on Ubuntu 14.04.

[2018-06-06 13:57] nim65s commented on #35
I can (sometimes) reproduce it on Python 3.5 in Ubuntu 16.04:

[code]

NB: To run gdb in docker, we have to turn off some security features. To get this, I had to use `docker run --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --rm -it eur0c.laas.fr:5000/stack-of-tasks/eigenpy/py-eigenpy-py3:16.04`

[2018-06-06 15:56] nim65s commented on #35
I can't reproduce it on Python 3.6 in Ubuntu 18.04

[2018-06-06 16:00] jcarpent commented on #35
Which is also the case with OSX 10.13

[2018-06-06 19:45] jcarpent commented on #35
I think we may close also this issue, and reopen it as soon as some new improvements have been made.

[2018-06-12 14:28] nim65s commented on #35
BTW, this bug hits only when the interpreter exits… So everything works as intended, even if a segfault occurs when all the work is done, we can just ignore that.

[2018-09-26 17:25] madjestic opened #40 "should not eigenpy install to ~/.local, rather than /usr/local ?"
Hey guys,

I am building eigenpy and having fun debugging why it does not work.  I am running gentoo and it feels like the installation path is sub-optimal.  Is there a reason, why eigenpy needs to be installed to a system path, rather than user home dir, e.g. ~/.local/... ?

Thanks,
V

[2018-09-26 17:32] jcarpent commented on #40
How do you install eigenpy: from source directly?
In this case, you can define your CMAKE_INSTALL_PREFIX to point to ~/.local directory.

[code]

Does it work?

[2018-09-26 22:46] madjestic commented on #40
So, I tried editing the `cmake_install.cmake` and replace `set(CMAKE_INSTALL_PREFIX "/usr/local")` with
  `set(CMAKE_INSTALL_PREFIX "~/.local")`, and then run `make install`, but that led to the error:
[code]
What worked was to have `~/.local/lib64/python3.6/site-packages/eigenpy/eigenpy.so`, together with `/usr/local/lib/libeigenpy.so`

Thanks,
Vlad

[2018-09-27 08:05] jcarpent commented on #40
It sounds that ~/.local/include does not exist. You should create this directory I guess.

[2018-09-28 06:32] jcarpent commented on #40
@madjestic Does it work?

[2018-09-30 20:30] madjestic commented on #40
Thanks!

That worked,
Vlad

[2018-09-30 20:30] #40 closed

[2018-10-02 10:45] olivier-stasse commented on #40
Hi Vlad,
Just to inform you that eigenpy is included in a package management system called robotpkg.
This allow us to work with various versions using different OS, compiler, robots.
In order to make sure that everybody can live separetly in the same computer we need to control
the install directory. Installing python packages in .local will be difficult in such situations.

I hope this explain a

[2018-10-02 13:00] madjestic commented on #40
Hey, Olivier

I understand the rationale behind intent to control installation path, but I don't understand why it has to be a system path by default, rather than local user path.  I will try out the robotpkg, though I am not sure if I like the idea of introducing yet another packaging system on top of what already exists in the system.  Maybe using a  default package manager is better?  But then,

[2018-10-02 14:45] nim65s commented on #40
Hi vlad,

Robotpkg allows us to easily create packages (both source and binaries) for ubuntu (12.04, 14.04, 16.04 & 18.04), Fedora (27 & 28), CentOS 7, Debian 8, NetBSD 8, and a few other but with less support, from a simple Makefile.

This includes support for ROS, and we really need it as we are working on robots which are provided with forks of some core ROS packages.

This explains our packagi

[2018-10-13 22:27] jviereck opened #41 "Return np.array over np.matrix for better performance"
Right now eigenpy returns an `np.matrix`. When returning a `np.array`, I manage to get roughly 10x speedup on a simple benchmark. Also, I managed to improve the performance of computing the overall controller.

Therefore, how do you folks feel about returning np.array instead of np.matrix for performance reasons from eigenpy?

Here is the basic benchmark I did:

[code]

[2018-10-17 15:52] olivier-stasse opened #42 "Switch to BSD v2"
Dear all,
We will soon switch to BSD License v2.0 to ease our collaborations.
Let me know if there is a problem with this.
Cheers,
Olivier.

[2018-10-18 11:28] jcarpent commented on #41
It looks interesting.
Can you provide a whole self-content script?

[2018-10-18 11:31] jcarpent commented on #41
The problem is that most of the current scripts using Pinocchio assume np.matrix as return type.
It would be hard to change all the scripts for that.

[2018-10-18 11:31] jcarpent commented on #41
What can be done, is to add an option in eigenpy to convert all the Eigen::Matrix as np.array.

[2018-10-18 14:52] jmirabel opened #44 "Error message"
Concerning the following error message, in debug mode:
https://github.com/stack-of-tasks/eigenpy/blob/f567b496decf9a5f82023a76b3f0d5892f490f43/include/eigenpy/details.hpp#L192

When I do SE3 * SE3 object, I get this warning because I guess it tries to find which SE3::operator* to use. In this case, it is not an error message.

Is there any cases where it is a real error ? If my understanding is co

[2018-10-18 16:49] jcarpent commented on #44
You're right, this is not a failure, just a test for convertibility.
This was at the beginning a debug feature, outdated now.

I will remove it. Thanks for pointing out this issue.

[2018-10-18 19:48] jcarpent commented on #44
Solved by #46.

[2018-10-18 19:48] #44 closed

[2018-10-19 08:33] jmirabel commented on #44
Thanks.

[2018-10-22 16:47] jcarpent commented on #41
Feel free to open this issue again if needed.

[2018-10-22 16:47] #41 closed

[2018-10-23 18:03] jviereck commented on #41
Thanks @jcarpent for implementing this!

[2018-10-25 13:16] nim65s commented on #35
Following discussions in https://github.com/Gepetto/gepetto-viewer-corba/issues/85 I tried with python3.7 in a system entierely build with c++11, and the bug is still here.

[2019-01-10 12:35] stonneau opened #48 "Eigen Vector types need to be initialized with transpose operator"
Hi,
after updating eigenpy to the latest devel commit ( https://github.com/stack-of-tasks/eigenpy/commit/b7865b83656f3f1665755427139035d52a020dbd ),

I realized that my previous python scripts needed a small modification to run without failure.

Before, I had a binded c++ method with signature :

void A(const Eigen::Vector3d&)

for instance called in python with:
bindedA(np.matrix([0.,1.,1.]) )

N

[2019-01-10 15:04] jcarpent commented on #48
I realized recently that the condition to allow the conversion between numpy object and Eigen matrices were not correct. I then fixed them.

One of them was about the convention that a vector is either a column or a row vector that both frameworks support.
In your case, this is this convention that you have to fulfill as Eigen::Vector3d is a column vector.

If a lot of your code is affected, we ma

[2019-01-10 15:18] stonneau commented on #48
I don't think this is worth it, thanks !

[2019-01-10 15:18] #48 closed

[2019-01-30 11:18] wxmerkt opened #49 "Upcoming ROS Release of eigenpy"
As noted in https://github.com/stack-of-tasks/pinocchio/pull/653, we are working on packaging eigenpy and releasing it as binary via the ROS buildfarm, i.e., such that users can install it via `sudo apt install ros-[kinetic/melodic]-eigenpy`. The status of the release pull requests is:

- Kinetic: https://github.com/ros/rosdistro/pull/20115
- Melodic: https://github.com/ros/rosdistro/pull/20114

I

[2019-02-07 23:09] jviereck opened #50 "Bump cmake repo"
When compiling eigenpy on Ubuntu 16.04 for python 3.5, the current repo setup found the libboost-python for python2.7. After bumping the cmake subrepo to the lastest master commit, the cmake found the proper libboost-python for python3.5.

[2019-02-08 10:06] nim65s commented on #50
I updated it on the devel branch. But please beware of #35 for python 3.5 on ubuntu 16.04.

[2019-02-08 11:01] jcarpent commented on #50
@nim65s You were too fast. Your push is not passing testing. Can you fix it?

[2019-02-08 11:22] nim65s commented on #50
Didn't expect that, I will fix it.

[2019-02-08 13:10] nim65s commented on #50
fixed: https://travis-ci.org/nim65s/eigenpy/builds/490533063 ; but we'll need to update the cmake submodule once again after the merge of https://github.com/jrl-umi3218/jrl-cmakemodules/pull/186

[2019-02-08 13:19] jcarpent commented on #50
@nim65s I've just merged jrl-umi3218/jrl-cmakemodules#186. You can proceed to the synchronization.

[2019-02-08 14:57] jcarpent commented on #50
Solved by #51.

[2019-02-08 14:57] #50 closed

[2019-02-18 07:22] markusgft opened #52 "git submodules contain SSH-path"
The URL url = git://github.com/jrl-umi3218/jrl-cmakemodules.git
limits accessibility for many users.
Please apply same modifications as in https://github.com/stack-of-tasks/pinocchio/issues/667

[2019-02-18 08:54] jcarpent commented on #52
Yes, sure. I will do that now. Thanks for the quick report.

[2019-02-18 09:00] jcarpent commented on #52
Solved by #53.

[2019-02-18 09:00] #52 closed

[2019-02-18 14:41] jcarpent commented on #42
Solved by #54.

[2019-02-18 14:41] #42 closed

[2019-02-19 10:00] olivier-stasse commented on #42
Thx !

[2019-03-08 20:27] jviereck opened #55 "Remove dependency of libboost-python from libeigenpy.sp"
This issue is about supporting python2 and python3 installation of eigenpy.

When compiling and installing `eigenpy`, there are two libraries installed (assuming `prefix=/opt/openrobots` here):

- /opt/openrobots/libs/libeigenpy.so
- /opt/openrobots/lib/python3.5/site-packages/eigenpy.so

Note that the first one has a dependency on the libboost_python lib, in my example

[code]

(note the second l

[2019-03-08 20:41] jcarpent commented on #55
In fact, we should have two separate libraries. One for python2 and the one for python3 in /opt/openrobots/libs. Which means that we just need to add an extended name for each lib according to the version of Python.

[2019-03-08 20:43] jcarpent commented on #49
@wxmerkt Do you think we can close this issue now?

[2019-03-08 22:00] #49 closed

[2019-03-11 11:02] jcarpent commented on #55
Solved by #57

[2019-03-11 11:02] #55 closed

[2019-04-11 09:32] jmirabel commented on #35
A follow up on this, on 16.04, Python 3.5.2:
- numpy 1.11 (from ubuntu repo) I get a SEGV
- numpy 1.16.2 (from pip), I get no SEGV

[2019-04-11 09:35] nim65s commented on #35
@jmirabel thanks for finding out this !

[2019-04-11 14:44] olivier-stasse commented on #35
Does that mean that we have to package numpy v1.16.2 ?

[2019-04-11 14:45] olivier-stasse commented on #35
I would prefer to avoid it.

[2019-04-11 14:46] jmirabel commented on #35
No. #58 fixes the SEGV for numpy from the ubuntu repo.

[2019-04-11 15:05] olivier-stasse commented on #35
Great !
Thank you very much.

[2019-04-16 09:02] jcarpent commented on #35
Fixed by #58.

[2019-04-16 09:02] #35 closed

[2019-05-13 14:02] cmastalli opened #60 "Binding Eigen special matrices"
Hi all,

I am wonder it's possible to bind special matrices such as Eigen::DiagonalMatric<double, -1>? For sure, I can transform this matrices in my wrapping code to Eigen::MatrixXd, however, I am looking for a more elegant solution, if it's possible.

[2019-06-20 15:02] jcarpent commented on #60
`Eigen::DiagonalMatric<double, -1>`is an expression in Eigen. It would not be useful with NumPy to handle it as such.

[2019-06-20 15:02] #60 closed

[2019-06-23 21:44] rhaschke opened #63 "eigenpy breaks array reshaping"
When using eigenpy, flattening of arrays fails:
[code]

[2019-06-24 06:43] jcarpent commented on #63
I will have a look at it. Thanks for raising this bug.

[2019-06-24 06:45] jcarpent commented on #63
I've tried on my computer, and the bug you mentioned is not occurring. Can you provide me your NumPy version and the eigenpy version you're currently using?

[2019-06-24 09:33] rhaschke commented on #63
numpy: 1.13.3
eigenpy: 1.5.1

But, I guess you were able to reproduce the problem?
I can only validate your fix tomorrow... Thanks for the quick response.

[2019-06-24 22:51] cmastalli opened #65 "Writing internal values of eigen bindings"
I would like to bind Eigen variables where I can read and write internal values, e.g.

[code]

For that, I used boost python and this is the code:
[code]

Despite that this c++ code allows me to write the entirely data, it doesn't allow me to write an specific internal data, i.e.

[code]

Is there a solution provided by eigenpy?

[2019-06-25 07:45] jcarpent commented on #65
Currently, NumPy and Eigen do not share the memory. We can do that, do you want to implement it? I may guide you.

[2019-06-25 14:37] cmastalli commented on #65
I need this feature. Let me know how to do it :)

[2019-06-25 15:46] rhaschke commented on #63
With your fix my particular problem still exists. I have created a minimal example to reproduce the issue:
[code]

which yields:
[code]
You can see that the `flatten()` on the Eigen matrix doesn't yield a one-dimensional array, but it stays to be a 1xN matrix.

[2019-06-25 15:53] rhaschke commented on #63
Using `np.asarray(a).flatten()` as a workaround, my issue is solved now.
When I was prototyping my code two days ago, I didn't notice that eigenpy objects cannot handle `flatten()` in the usual way and that drove me nearly crazy because I got mismatching dimensions all the time...

[2019-06-26 13:39] jcarpent commented on #63
You should in fact use those lines:
[code]

The content summarizes the way it works. Hope it will help you.

[2019-06-26 13:40] jcarpent commented on #65
OK. I will come back to you soon.

[2019-06-26 13:44] rhaschke commented on #63
This seems somewhat unintuitive: [flatten()](url) should always return a 1-dimensional `np.array` (because that's the purpose of flatten). The eigenpy array/matrix mode should only effect how generated matrix-like objects are handled, shouldn't it?
Anyway, thanks a lot for the clarification.

[2019-06-26 13:52] jmirabel commented on #63
This is a numpy issue:
[code]
yields
[code]

[2019-06-26 13:55] rhaschke commented on #63
Ahh, OK! Didn't know. I think, I always used arrays so far...

[2019-06-26 13:55] #63 closed

[2019-06-26 14:29] jmirabel commented on #63
And you are right to do so:

https://docs.scipy.org/doc/numpy/reference/generated/numpy.matrix.html

[2019-07-01 13:01] nmansard commented on #65
did you have a look at pinocchio data fields? For example the data.Fcrb seems to be what you look at.

[2019-07-01 13:02] nmansard commented on #65
https://github.com/stack-of-tasks/pinocchio/blob/8e8f0711b1efa18e8dbc3ee0eea5693cb2cdd2b4/bindings/python/multibody/data.hpp#L80

[2019-07-01 13:45] nmansard commented on #65
After discussion with @cmastalli : he reported the problem also raised in pinocchio of writing in a eigen object (for example data.Jcom[0,0] = 0), that is 1) not working and 2) silently failing. @cmastalli will propose a minimal example of how this feature would be used (if available) in Crocoddyl.

[2019-07-11 22:30] wxmerkt opened #68 "Why are Python and NumPy system include paths?"
From MoveIt (https://github.com/ros-planning/moveit/issues/1536):

Indeed, they are currently set as system includes:
https://github.com/stack-of-tasks/eigenpy/blob/aacf9982064140368ebacfcece40db5ed33e3d76/CMakeLists.txt#L53-L55

And when running `pkg-config --cflags-only-I eigenpy`, indeed the NumPy is missing. They do show up on `pkg-config --cflags-only-other eigenpy` though, as expected.

Is t

[2019-07-12 11:17] jcarpent commented on #68
The main reason is to avoid warnings coming from dependencies when compiling.

[2019-07-12 12:30] cmastalli opened #70 "switchToNumpyArray should resemble to default NumPy behaviour"
A bind Eigen::Vector is converted into a column-Numpy array. This is not the default behaviour of Numpy. I suggest that we should stick to a row vector.

@jcarpent What is your though about it?

[2019-07-12 12:39] jcarpent commented on #70
This is already present since EigenPy 1.5.2

[2019-07-12 16:48] jcarpent commented on #68
I think I can close this issue. @wxmerkt Feel free to reopen it if needed.

[2019-07-12 16:48] #68 closed

[2019-07-15 21:30] #70 closed

[2019-07-16 07:49] cmastalli commented on #70
Great! I didn't know it. Thank you for the feedback :)

[2019-07-18 17:29] cmastalli opened #80 "Converter from/to std::iterables to boost Python"
Hi Justin,

I have added this converter inside Crocoddyl (for more details see https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/cpp_devel/bindings/python/crocoddyl/utils.hpp).

I was thinking that maybe eigenpy is the right place for this code. What do you think?

If you agree with it, I could create a PR with these modifications.

Carlos

[2019-07-18 21:17] cmastalli commented on #80
As far I know, Pinocchio uses the `vector_indexing_suite` from boost python, and it's not exactly what I propose. With my code, we don't to create an new object (i.e. Std_Force). Instead it recreates exactly a python list.

I use those converter for raw and shared_ptr inside Crocoddyl. Independently of EigenPy, Crocoddyl needs this code, and I don't plan to remove it from there. I just thought tha

[2019-07-18 21:20] jcarpent commented on #80
This also means that at each time you call the container (list or vector), you then have a conversion. Which is something you want to avoid for performance reasons I would say.

[2019-07-18 21:24] cmastalli commented on #80
I agree. However this isn't important in Crocoddyl.

Do you suggest to do not implement this in EigenPy?

[2019-07-18 21:28] jcarpent commented on #80
I think it is important. If you want to avoid memory allocation in Python mostly!

[2019-07-18 21:29] jcarpent commented on #80
I think we can find a solution avoiding allocation, and doing what you want: behaving as a Python list but without the defect of allocation. Do you get my point?

[2019-07-18 21:30] cmastalli commented on #80
It would definitely be great!

[2019-07-18 21:36] cmastalli commented on #80
However I'm not sure how this is possible. Just for reference:

 - This is from std::vector to list: https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/cpp_devel/bindings/python/crocoddyl/utils.hpp#L60

 - And this is from list to std::vector: https://gepgitlab.laas.fr/loco-3d/crocoddyl/blob/cpp_devel/bindings/python/crocoddyl/utils.hpp#L77.

[2019-07-19 06:22] jcarpent commented on #80
The code you've copy-pasted is not the most elegant way to do what you need.
They exist a smarter way to proceed. Let's do that later if you don't mind.

[2019-09-03 09:45] pFernbach opened #83 "issue when calling exposeQuaternion() in several packages"
Not sure if it's a real issue or if I don't use it correctly, but I have two packages (namely pinocchio and curves) which call     `eigenpy::exposeQuaternion()` in their c++ code for python API.
The issue is that the python `Quaternion` class only exist in the first package that I import, eg :

[code]

[code]

Is there a way to correctly manage this or should I always keep care of the import order

[2019-09-03 10:00] jcarpent commented on #83
Please see https://github.com/stack-of-tasks/pinocchio/pull/817 for helps. It has solved the same issue than the one you had.
You then need to update pinocchio to get the latest release.

[2019-09-03 10:04] pFernbach commented on #83
Thanks, I'll make the same changes in curves then.

[2019-09-03 10:04] #83 closed

[2019-09-09 09:25] DiegoAE opened #84 "debug cout statements in release 1.5.7"
I'was using Pinocchio with an installation of eigenpy (1.5.7) from source, and I got extra verbose output with the following statements:
call: EigenFromPy< Eigen::MatrixBase<MatType> >::convertible
call: EigenFromPy< Eigen::MatrixBase<MatType> >::construct
I found the cout statements in
 https://github.com/stack-of-tasks/eigenpy/blob/42ea7b32def7ecb1e83d3dc0546d3f8d908aaf7a/include/eigenpy/details

[2019-09-09 11:14] jcarpent commented on #84
Yes, they have been removed in #82. Thanks for raising this issue. Do you need a new release to avoid boring `std::cout`?

[2019-09-09 11:42] DiegoAE commented on #84
Thanks for the prompt reply! I removed the cout statements from my repository copy so no need to urgently deliver a new release. However, be aware that the current latest release (1.5.7) has this issue.

[2019-09-09 13:21] jcarpent commented on #84
I will provide a release soon to avoid such issues.
I will close the issue now. @DiegoAE Thanks a lot for your comments and feedback.

[2019-09-09 13:21] #84 closed

[2019-09-18 00:48] jwhendy opened #86 "Where is eigenpyConfig.cmake?"
Greetings,

I was just building [ros_planning/moveit_ros/planning_interface](https://github.com/ros-planning/moveit/tree/master/moveit_ros/planning_interface) and got this error:

[code]

I have arch linux's eigenpy installed, but indeed I cannot find this file anywhere. I see some discussion on this file at eigenpy #69 and [pinnochio #831](https://github.com/stack-of-tasks/pinocchio/issues/831#is

[2019-09-18 01:15] jwhendy commented on #86
Nevermind... sorry, I should have checked in both locations before posting this. It looks like this is on the radar of moveit planning interface and [this solution](https://github.com/ros-planning/moveit/pull/1550) worked for me.

[2019-09-18 01:15] #86 closed

[2019-09-18 07:28] #20 closed

[2019-09-19 08:56] jmirabel opened #87 "Timeline for using np.array by default."
Let's open the discussion to decide a timeline for using numpy arrays by default, instead of numpy matrices.

[2019-09-19 09:00] cmastalli commented on #87
I vote for the beginning of the next year. So we give a couple of month to everyone adapt their code.

[2019-09-19 09:01] jcarpent opened #88 "Timeline for sharing memory between Eigen and NumPy"
I've implemented the complete share of memory between Eigen and Numpy without requiring any memory copy or allocation. I will suggest it as PR soon.

In the meantime, we need to decide in a similar way as #87 when to achieve the official switch.

[2019-09-19 09:02] nim65s commented on #87
Does this change in defaults settings means that we have anything to adapt ?

[2019-09-19 09:07] jmirabel commented on #87
Arrays always do coefficient-wise operations while matrices do not. The most annoying difference is for the operator \*.

[2019-09-19 09:08] nim65s commented on #87
ok, thanks

[2019-09-19 09:20] jmirabel commented on #87
I think `Array @ Array` does the same thing as `Matrix * Matrix`.

For a smooth change, the best idea I have is to echo a warning the first time an object of type Matrix is returned, only if `eigenpy.switchToNumpyMatrix()` has not been called explicitly.

It is easy to implement and it forces people using matrices to explicitly say they want matrices. 3 months after the release of this warning, I

[2019-09-19 09:28] nmansard commented on #87
The problem of Array@Array is that it breaks the compatibility with
Python 2.

I agree with your last comment: 3 months after the release of the
warning, we can change the default behavior of EigenPy (knowing that
people that are late can keep the previous behavior
|eigenpy.switchToNumpyMatrix()|).

On 9/19/19 11:20 AM, Joseph Mirabel wrote:

[2019-09-19 09:35] jcarpent commented on #87
Concerning Python2, we won't support it after January 1, 2020 (https://pythonclock.org/).

[2019-09-19 11:05] proyan commented on #87
If we want people to adapt their code, the warnings should be issued from now. Then from January, we can move to np.array completely.

[2019-09-19 11:10] jmirabel commented on #87
@proyan that's what I suggested.

[2019-09-19 13:11] jcarpent commented on #87
Solved by #89. I will provide a new release soon.

[2019-09-19 13:18] nim65s commented on #87
I'll wait for this new source release, and after that I will launch the binary releases (eigenpy & pinocchio) on robotpkg

[2019-10-21 10:12] gabrielebndn opened #94 "quaternion.toRotationMatrix() does not work"
These lines
[code]
result in the following error
[code]

I do not understand this, as I can clearly see in https://github.com/gabrielebndn/eigenpy/blob/72f57d877e2b9fb7b0d2d216ce947ad62073286f/include/eigenpy/quaternion.hpp#L106 that `toRotationMatrix` is exposed, correctly, it seems.
What is weirder is that `ipython` actually *suggests* `toRotationMatrix` as an available method and auto-completes

[2019-10-21 12:11] jcarpent commented on #94
I've found the bug. I will open a PR fixing the issue.
@gabrielebndn Thanks for the useful feedback.

[2019-10-21 21:05] jcarpent commented on #94
Fixed by #95.

[2019-10-21 21:05] #94 closed

[2019-10-23 12:33] wxmerkt opened #98 "Generate and install CMake config"
Following https://github.com/jrl-umi3218/jrl-cmakemodules/issues/247, can we please add the necessary features to generate and install the cmake config such that the only requirements to use eigenpy reduce to:

[code]

And can we please tag a release using the latest two PRs and this CMake configuration.

(I tried it following the comment in https://github.com/jrl-umi3218/jrl-cmakemodules/issues/2

[2019-10-24 15:11] wxmerkt opened #100 "Tag version 1.6.2"
Can we tag the current master as 1.6.2 please? I'd like to make a release to the ROS buildfarm with the latest fixes and also change it to a proper third-party library, subsequently fixing now dependent packages (e.g. MoveIt) and get the package ready for the MEMMO deliverable.

[2019-10-24 16:54] jcarpent commented on #100
This is now done. @wxmerkt Sorry for the delay.

[2019-10-24 16:54] #100 closed

[2019-10-24 17:07] wxmerkt commented on #100
Thank you! :-)

[2019-11-04 09:20] gabrielebndn commented on #65
I've reopened this issue as I think it is important

[2019-11-04 09:20] gabrielebndn commented on #88
Hallo! News about this?

[2019-11-04 09:27] gabrielebndn commented on #88
Why is a timeline needed? What would the problem be if we integrated it right now? I do not think any existing Python code would be broken or would modify its behavior if this change is integrated

[2019-11-04 10:08] jcarpent commented on #88
Yes, it will. Because when you write something like:
[code]
it will mean the memory will change also in data.

[2019-11-04 10:13] jcarpent commented on #65
I will close it because it is redundant with #88.

[2019-11-04 10:13] #65 closed

[2019-11-04 10:31] gabrielebndn commented on #88
I see. But I think that mostly concerns Pinocchio, not eigenpy. The point is, in order to make it work, we are forced to *explicitly* write in our bindings that we want a copy to be made. That is what is being done in Pinocchio. So, if you do include this change in eigenpy, then it will be a matter for Pinocchio to make the switch so to make productive use of this new possibility.
Am I wrong?

[2019-11-04 10:32] jcarpent commented on #88
No, but you might be aware that currently, I do not have so much to perform both transistions on EigenPy and Pinocchio.

[2019-11-04 10:38] gabrielebndn commented on #88
You do not have so much time, you mean?
Maybe you can do it just on eigenpy, so that we can use the new feature in things like hpp-fcl and curves. What other libraries are using eigenpy?

[2019-11-04 10:40] jcarpent commented on #88
Yes, I do not have time right now.

[2019-11-04 10:41] jcarpent commented on #88
I will try this week, but I'm not sure I will be able to make it.

[2019-11-04 10:41] jcarpent commented on #88
By the way, this missing feature should not block you on making bindings for hpp-fcl and others.

[2019-11-04 10:47] gabrielebndn commented on #88
It does not ;) Itś just that I stumbled into this while working on it and I thought it would be nice to solve the problem once and for all

[2019-11-04 10:50] jcarpent commented on #88
Yes, I do agree. But, you know, a lot of things missing are mainly a matter of time.

[2019-11-04 10:59] cmastalli commented on #88
It would definitely important for Crocoddyl. It would great if we can find a fast solution that doesn't affect Pinocchio users, and we can soon integrate to Crocoddyl.

On the other hand, it should be ok that this operation changes the memory, this is what everyone expect. If someone has such kind of Python code then it's wrong and but practice. We shouldn't matter this, otherwise the user should

[2019-11-04 16:05] wxmerkt commented on #88
I am all for the change and pybind11 supported it from the get-go.

However:

Because it breaks existing code "silently" (and good luck tracking those bugs down if you do not follow the eigenpy repository and all related discussions and the update comes with an apt-get....) that followed the existing convention (without `.copy()`) and worked just fine. To be clear: I don't have any code that may b

[2019-11-04 17:00] cmastalli commented on #88
I understand but we shouldn't be constrained by Pinocchio. This is an independent project with its own personality

[2019-11-12 18:35] wxmerkt opened #112 "robotpkg eigenpy binary does not depend on libeigen3-dev"
I am setting up a new CI system and realised that installing `robotpkg-py27-eigenpy` does not install `libeigen3-dev` (i.e. does not depend on it).

Here is the output of `dpkg`:
[code]

I think it should have the dependency to install `libeigen3-dev` as it includes headers that depend on it. What do you think? @jcarpent @nim65s

[2019-11-12 18:37] jcarpent commented on #112
You're totally right. @nim65s Could you discuss this issue with Anthony (in charge of robotpkg)?

[2019-11-12 18:38] jcarpent commented on #112
Thanks a lot @wxmerkt for raising this issue!

[2019-11-12 22:37] nim65s commented on #112
Hi @wxmerkt , and thanks for this question.

As Eigen is header only, eigenpy.so is not linked to it.
And about the headers: do we really leak Eigen headers inside eigenpy's public headers ? And if so, shouldn't we avoid that ?

Anyway, I think we should be able to use eigenpy on a system where libeigen3-dev is not installed, as, from my understanding, all those lib*-dev packages are only necessar

[2019-11-13 08:29] jcarpent commented on #112
@nim65s It makes sense. @wxmerkt Do you share the same opinion?

[2019-11-13 10:53] wxmerkt commented on #112
Hi @nim65s,
The headers installed by eigenpy require Eigen headers internally. As thus the dependency is warranted.

Introducing a `libeigenpy-dev` and a runtime eigenpy introduces extra maintenance effort required to maintain both packages.

How much "extra space" are the `libeigen3-dev` really taking? I don't think this justifies all the extra effort to maintain two packages.

Yes, this is a pro

[2019-11-13 11:00] wxmerkt opened #115 "Erroneous v1.6 tag?"
There is a v1.6 tag which mirrors v1.6.6 - should the v1.6 be removed?

[2019-11-13 11:03] jcarpent commented on #115
Yes, you're right. I removed it. Thanks a lot for the feedback.

[2019-11-13 11:03] #115 closed

[2019-11-13 12:25] jmirabel commented on #112
@nim65s cannot you declare the dependency only for Ubuntu ?

[2019-11-13 12:44] wxmerkt commented on #112
Why would you make it only for Ubuntu? If the package installs headers that depend on Eigen / libeigen3-dev, it should have the dependency. The suggestions appear to be either:

1. Add the `libeigen3-dev` dependency in the debian package.
2. Split eigenpy into two debians: one with runtime, one with headers.

Given the minimal "overhead" of installing libeigen3-dev and avoiding users (e.g. pinocch

[2019-11-13 12:48] jcarpent commented on #112
I share the same opinion as @wxmerkt. Just adding libeigen3-dev as a required apt dependency for all the packages that depend on it inside robotpkg is the right solution, both in terms of manpower and efficiency.

[2019-11-13 12:58] jmirabel commented on #112
@wxmerkt I am fine with Debian. I meant *wherever libeigen3-dev exists*. 1 is a good option. 2 is a bad idea.

[2019-11-14 07:52] nim65s commented on #112
Ok, let's do this :)

[2019-11-14 09:21] jcarpent commented on #112
@nim65s Do you have an idea for the deployment of such an action?

[2019-11-14 09:26] nim65s commented on #112
not yet, I'll work on it today, together with a more general "dependency's dependencies" issue in my packages on robotpkg

[2019-11-14 15:10] wxmerkt opened #116 "ROS Kinetic regression (lib install includes architecture)"
This issue is to track the issues with the `eigenpy` package distributed via the ROS buildfarm on Ubuntu 16.04 which affects `pinocchio` (regression, does not build) and `moveit` (works because added `eigenpyConfig.cmake`). Currently, only `pinocchio` and other **pkg-config consumers** are broken.

**Note: This problem only happens on 16.04/kinetic due to the old version of `debhelper`.**

- eigen

[2019-11-14 16:31] gabrielebndn opened #117 "How to check whether eigenpy is using array or matrix?"
Sometimes, it might be useful to verify whether eigenpy is configured to convert Eigen objects to a numpy matrix or array. However, I cannot find a way to do it cleanly, particularly in Python.

I guess I can create a random Eigen object and check its type, but it would not be nice.

Is there a better way? If not, could you add a function such as `isUsingNumpyArray` or `isUsingNumpyMatrix`?

[2019-11-14 17:48] jcarpent commented on #117
@gabrielebndn I proposed a solution to your issue here: #118 Is it fine for you?

[2019-11-14 18:10] gabrielebndn commented on #117
@jcarpent, it looks perfect, thanks!

[2019-11-14 19:59] jcarpent commented on #117
Solved by #118

[2019-11-14 19:59] #117 closed

[2019-11-15 01:05] tfoote commented on #116
There have been some other projects that hit this bug in the past too: https://github.com/ros/console_bridge/issues/15

With a follow up here: https://github.com/ros/console_bridge/pull/19

[2019-11-15 12:11] wxmerkt commented on #116
Thank you @tfoote. I think I found the issue. The cmake-modules that this project depends on sets variables for where to find the library in the pkg-config template that do not match the ones where it actually gets installed to. I will push for a merge + release to the buildfarm today, this should fix the Pinocchio regression.

[2019-11-15 15:33] jcarpent commented on #116
Thanks @tfoote and @wxmerkt for the fix. Solved by #120.

[2019-11-15 15:33] #116 closed

[2019-11-15 16:03] wxmerkt commented on #116
Thank you. Release made:

- Kinetic: https://github.com/ros/rosdistro/pull/23043
- Melodic: https://github.com/ros/rosdistro/pull/23045 (not required but want to keep both distros in sync)

[2019-11-16 23:31] wxmerkt commented on #116
While #120 fixed the mismatch between the pkg-config and the actual installed layout, it didn't resolve the original issue. The toolchain appears to configure in such a way that on Xenial that the system architecture is used in the path (`-DCMAKE_INSTALL_PREFIX=/usr`, which is a special case in `GNUInstallDirs`). This one isn't sourced on the PKG_CONFIG_PATH which is why the dependent Pinocchio bu

[2019-11-23 15:40] pFernbach opened #126 "Inconsistent numpy array shape for return and parameter type ?"
I'm not sure if I'm doing something wrong or if it's a real issue in eigenpy.
I am using the same C++ type (an `Eigen::VectorXd`) for the return type and the parameter type of a binded method.
It is working well with Numpy matrix but when using `eigenpy.switchToNumpyArray()` the returned array is of shape `(x,)` while the array given as parameter must be of shape `(x,1)`
Right now I need to add `.

[2019-11-24 00:47] jcarpent commented on #126
I think you should have a look to the devel branch which has a fix for you.

[2019-11-24 11:17] pFernbach commented on #126
Thanks, my issue is solved in the devel branch. I'll wait for a binary release of this changes to remove all the `reshape` currently needed in my package.

[2019-11-24 11:17] #126 closed

[2019-11-25 11:06] wxmerkt opened #127 "Release 1.6.8 did not update package.xml version"

[2019-11-25 11:14] jcarpent commented on #127
Do you need a new release or the commit is enough?

[2019-11-25 11:15] wxmerkt commented on #127
I'd need a new tag so I can release it to the buildfarm (along with Pinocchio 2.2.0). Sorry for the inconvenience

[2019-11-25 11:33] jcarpent commented on #127
I've just removed tag 1.6.9 and I will update a new release with a fix.

[2019-11-25 12:00] wxmerkt commented on #127
Thank you, Justin!

[2019-11-25 12:02] #127 closed

[2019-12-05 08:51] jcarpent opened #131 "Duplicate symbols when exporting"
Dear @seanyen,

The following lines:
https://github.com/stack-of-tasks/eigenpy/blob/7c5824948a9ccf16add0de3f8faf65d835cedc9c/CMakeLists.txt#L157
install a generated header which duplicates the lines also generated by the jrl-cmake-modules:
[code]
@seanyen Do you think that we can remove this generated file?

[2019-12-09 17:41] jcarpent commented on #98
Solved by #132.

[2019-12-09 17:41] #98 closed

[2020-01-24 16:27] jmirabel commented on #87
Time is up !

[2020-01-24 16:27] jmirabel commented on #87
Should we change the default ?

[2020-01-24 16:28] wxmerkt commented on #87
Happy to change the default for array/matrix. However, we should not change the default for Python2/3 as Python2 will be supported on LTS platforms until they reach their EOL.

[2020-01-24 16:56] gabrielebndn commented on #87
I would say that we should wait at least until https://github.com/stack-of-tasks/pinocchio/issues/1026 is solved

[2020-01-27 08:00] nmansard opened #144 "Fatal assert when exposing a matrix 1x1"
I encounter a fatal assert (when using EigenPy in Pinocchio) when exposing a matrix of shape [1,1]. With a more precise context, I have a mass matrix for a 1-dof (pendulum) system in data.M that has a shape [1,1]. When accessing this matrix, I get an assert in debug mode, and a segfault (or various memory failure) in release mode.

Here is the copy of the assert:
python3: /eigenpy-1.6.13/include/e

[2020-01-27 08:06] nim65s commented on #144
Hi,

I was able to reproduce this bug using Python 3 on 16.04. I wasn't with Python 2, and on 18.04, this bug was appearing only if hpp-fcl's binding were not installed.

Here is a [Dockerfile](https://github.com/nim65s/gepetto-utils/blob/master/docker/pinocchio/Dockerfile.nolts). I pushed an image with it at `gepetto/utils:pinocchio-16.04-py3-debug` on docker hub.

You can run `docker run --rm -i

[2020-01-29 09:29] jcarpent commented on #112
@nim65s What is the status?

[2020-01-29 09:32] nim65s commented on #112
I opened a PR for this, and it is still open as it needs some rework. I'll probably need one more month.

[2020-01-29 09:34] gabrielebndn opened #146 "Scope of switchToNumpyXXX"
The following two scripts

`a.py`:
[code]

`b.py`:
[code]

Demonstrate that eigenpy's return type is a _global_ setting which affects importing modules (I have no idea how it would act in a multi-threaded case, it would be interesting to know it).

This is displeasing, because it forces to either switch all of the codebase at once or to put a lot of pre-emptive `switchToNumpyXXX` just to play on t

[2020-01-29 09:36] nim65s commented on #146
Hi,

When you type `import a`, python will go through `a`, and therefore will execute this `eigenpy.switchToNumpyArray()`.

[2020-01-29 09:38] nim65s commented on #146
[code]
Will print:
[code]

[2020-01-29 09:39] gabrielebndn commented on #146
Yes, of course, that was clear to me.
What I am wondering is: is there a way to make it so that `switchToNumpyArray()` only has an effect in a certain module?

[2020-01-29 09:39] jcarpent commented on #146
The answer is NO. It is not possible in the way Boost.Python works to change the converter for a given type. There is only one converter for each type.

What can be done, it is to register a specific converte for a function return type. But this should be done for a whole module like Pinocchio. I don't want to waist my time on it.

[2020-01-29 09:45] gabrielebndn commented on #146
Mmmm, ok... Do you have any idea what would happen in a multi-threaded setting? If one thread calls `switchToNumpyXXX`, will this change the return type of the other threads right in the middle of the execution?

[2020-01-29 09:48] jcarpent commented on #146
Yes!

[2020-01-29 09:52] gabrielebndn commented on #146
Oooh, that might be *bad*.
Ok. Take-home message: **all of your codebase should consistently employ either matrix or array**. End of the story. Thanks for the clarifications

[2020-01-29 09:52] #146 closed

[2020-01-29 10:03] jcarpent commented on #144
First, the issue seems to be related to the Eigen version or/and the Python version. With Eigen 3.3.7, I don't have any issue. I've just opened #147. Can you check it on your side.

[2020-01-29 10:32] jcarpent commented on #144
Solved by #147.

[2020-01-29 10:32] #144 closed

[2020-01-30 08:34] jcarpent commented on #144
No feedbacks @nmansard?!

[2020-01-30 08:34] jcarpent commented on #144
No feedbacks @nmansard?!

[2020-01-30 09:14] jcarpent commented on #131
Solved by #149.

[2020-01-30 09:14] #131 closed

[2020-01-30 09:15] jcarpent commented on #87
Solved by #150.

[2020-01-30 09:15] #87 closed

[2020-02-19 16:11] duburcqa opened #156 "Critical memory leak"
Hi,

There is a huge memory leak during the implicit conversion from numpy array to eigen matrix. Here is a script to reproduce the results on the attached figure.

[code]

[code]

![Screenshot from 2020-02-19 16-17-18](https://user-images.githubusercontent.com/17752950/74850937-d8479580-533a-11ea-9f22-ad4d3ff074d3.png)

[cartpole.txt](https://github.com/stack-of-tasks/eigenpy/files/4225967/cartpo

[2020-02-19 17:22] wxmerkt opened #157 "Revert CMake modules update and make hotfix release"
Cf. https://github.com/jrl-umi3218/jrl-cmakemodules/issues/324

The current master does not work on a freshly installed 18.04 due to the upstream changes in `python.cmake`. Can we please revert the sync of the cmake submodule and make a patch release?

[2020-02-19 19:38] jcarpent commented on #157
I will directly fix the issue in the module if you don't mind. Is it fine for you?

[2020-02-19 19:45] wxmerkt commented on #157
Yes, absolutely :-)

[2020-02-19 20:11] jcarpent commented on #156
@duburcqa I checked on my side and with eigenpy 2.0.2, I don't have any leack. Which version of EigenPy are you using?

[2020-02-19 22:22] duburcqa commented on #156
I'm using Python3.6, Eigenpy 2.0.2 and Pinocchio 2.2.2 (both installed using `sudo apt install robotpkg-py36-pinocchio robotpkg-py36-eigenpy`)

[2020-02-19 22:33] jcarpent commented on #80
An elegant solution has been proposed in Pinocchio.

[2020-02-19 22:33] #80 closed

[2020-02-20 10:06] jcarpent commented on #156
@duburcqa Could check PR #158?

[2020-02-20 11:18] jcarpent commented on #156
fixed by #158.

[2020-02-20 11:18] #156 closed

[2020-02-20 11:24] jcarpent commented on #157
@wxmerkt I'm waiting for #159 to provide a new release.

[2020-02-20 13:20] jcarpent commented on #157
Release done!

[2020-02-20 13:20] #157 closed

[2020-02-20 13:57] duburcqa commented on #156
I will have a look as soon as possible, probably tomorrow morning. Thanks !

[2020-02-20 14:04] duburcqa commented on #88
@jcarpent I have a access to your implementation ? I have done the same and I would like to benchmark it.

[2020-02-20 14:48] jcarpent commented on #88
@duburcqa I have no time to share it now. Sorry. I can give a look at your implementation ;)

[2020-02-20 15:05] gabrielebndn commented on #88
@jcarpent or, you could release eigenpy 3 ;) I think this feature is important and the sooner it is merged, the better

[2020-02-20 15:38] jcarpent commented on #88
@gabrielebndn I don't know how to say that, but I'm feeling a bit alone to support both Pinocchio and EigenPy, and so many other stuff! It is very easy to ask new features, but much harder to implement them, with the underlying support.

[2020-02-20 15:53] gabrielebndn commented on #88
@jcarpent I had understood that the feature was already implemented, and that it was only a question of when and how so not to disrupt anybody else's work. If this is not the case, I was wrong. If instead the work is ready, I think users can only welcome the new feature and it will be up to them to make their own code compatible, assuming they have been properly warned.

Of course I did not mean t

[2020-02-20 15:55] gabrielebndn commented on #88
@jcarpent, for instance, I imagine that lots of unit tests in Gepetto code base will have to be revisited, those of Pinocchio in particular. With a beta release of the new eigenpy, we could work about it in advance.

[2020-02-21 15:04] jcarpent commented on #156
@duburcqa Any news?

[2020-02-26 06:00] jcarpent commented on #88
#163 and #160 did the job and are now available in the version 2.1.0.

[2020-02-26 06:01] #88 closed

[2020-02-27 10:05] jcarpent commented on #112
@nim65s Any update on it?

[2020-03-26 17:28] nim65s commented on #112
It works now :)

[2020-03-26 17:46] jcarpent commented on #112
Very nice. Thanks @nim65s!

[2020-03-26 17:46] #112 closed

[2020-03-27 14:47] wxmerkt opened #174 "find_package(eigenpy REQUIRED) does not populate eigenpy_INCLUDE_DIRS"
This is the source for the breakage between 1.6.9 and 2.1.2 that prevents updating the ROS release.

To reproduce (with latest devel):
[code]
This prints an empty message.

[2020-03-27 16:48] jcarpent commented on #174
Fixed by #175.

[2020-03-27 16:48] #174 closed

[2020-03-31 19:33] emmanuelkring opened #179 "Error compiling on Ubuntu 20.04"
Hello, I am trying to compile on Ubuntu 20.04 with noetic and I get this error:

   20 |         p->~T();
      |         ^
In file included from /usr/include/eigen3/Eigen/Core:88,
                 from /home/emmanuel/moveit_ws/src/eigenpy/src/decompositions/decompositions.cpp:6:
/usr/include/eigen3/Eigen/src/Core/MatrixBase.h:468:5: note: declared protected here
  468 |     EIGEN_DEFAULT_EMPTY_CO

[2020-03-31 22:05] nim65s commented on #179
FYI, this can be easily reproduced with `docker run --rm -it gepetto/utils:eigenpy-20.04`. Once in the container, running `make` show this error.

On a side note, this version of ubuntu is not yet available, even if we have been in April 2020 for the last 5min :)

[2020-03-31 22:29] nim65s commented on #179
But it works on ArchLinux : `docker run --rm -it gepetto/utils:eigenpy-arch`

|  | 20.04 | Arch |
|-|---------|-------|
| boost | 1.71.0 | 1.72.0 |
| numpy | 1.16.5 | 1.18.2 |
| eigen | 3.3.7 | 3.3.7 |
| gcc | 9.3.0 | 9.3.0 |
| python | 3.8.2 | 3.8.2 |

The Dockerfiles are here: https://github.com/nim65s/gepetto-utils/tree/master/docker/eigenpy

[2020-04-01 08:19] jcarpent commented on #179
@emmanuelkring Thanks a lot for raising this future issue.
I've solved it in #180 and thanks to @nim65s's work, I've been able to test it on 20.04. It seems to work fine now.

I will provide a new release then. @emmanuelkring Is it OK for you?

[2020-04-01 08:58] #179 closed

[2020-04-19 12:26] duburcqa commented on #156
@jcarpent Sorry for the delay, I wasn't able to build pinocchio from source before now. I have tested the same script on Ubuntu 18 with eigenpy 2.3.1 and pinocchio 2.4.2 and the issue is still there :/ This issue should be reopened.

[2020-04-19 12:48] jcarpent commented on #156
I've tried on my side and I don't have it. Could you please provide a Docker file with all the required content?

[2020-04-19 12:53] jcarpent commented on #156
Could you also provide the full details of your screenshot and the resulting Valgrind output? Otherwise, it is hard to start the debug phase!

[2020-04-19 18:00] jcarpent commented on #156
The leak is not coming from EigenPy but from Pinocchio. The destroyer of Eigen::MatrixBase<> is properly called. Including `eigenpy.hpp` in all the files of the Pinocchio bindings should solve the issue!

[2020-04-19 21:13] duburcqa commented on #156
Here is the build script I use https://github.com/Wandercraft/jiminy/blob/master/build_tools/build_install_deps_linux.sh

[2020-04-19 21:13] duburcqa commented on #156
I didn't modified the source of eigenpy and pinocchio.

[2020-04-20 08:30] jcarpent commented on #156
Did you read my previous comments?
The issue is not coming from EigenPy but rather the way Boost.Python is handling the memory. The fix for Pinocchio is here: https://github.com/stack-of-tasks/pinocchio/pull/1168

[2020-04-20 09:25] jcarpent commented on #156
@duburcqa Could you try on your side and confirm the fix?

[2020-04-21 06:48] duburcqa commented on #156
@jcarpent Unfortunately, the result is the same :/

Find attached the massif result:
[massif.out.8899.txt](https://github.com/stack-of-tasks/eigenpy/files/4508171/massif.out.8899.txt)

[2020-04-21 06:53] jcarpent commented on #156
I've checked on my side, and there is no more leak issue on 18.04. I've checked with memcheck.
Which version of Pinocchio have you tried? Again, providing a container will help us a lot. The script you provided does not work on my side.

[2020-04-21 06:55] duburcqa commented on #156
Yes it's working fine !

[2020-04-21 06:56] jcarpent commented on #156
Do you change your mind? Or what happens within the last 5min?

[2020-04-21 07:02] duburcqa commented on #156
I tried on a corrupted setup, it was loading the old dynamic library of pinocchio instead of the patched one x)

[2020-04-23 16:37] sloretz opened #188 "Release eigenpy into ROS Noetic?"
Would you mind releasing `eigenpy` to ROS Noetic? It looks like all of its dependencies have been released, and recursively 41 repos need it.

I'm not sure how much work it will need. There is a [guide about transitioning ROS packages to Python 3](http://wiki.ros.org/UsingPython3/).  The [Noetic Migration Guide](http://wiki.ros.org/noetic/Migration) may have other changes this repo needs.

[2020-04-23 17:15] wxmerkt commented on #188
Hi @sloretz,
I'll work on this and already made the first PR to migrate earlier today (#187).

[2020-04-23 17:18] jcarpent commented on #188
Do you need a new release?

[2020-04-23 17:19] wxmerkt commented on #188
Yes, please. I just dropped you an email regarding that. :-)

[2020-04-23 19:22] jcarpent commented on #188
I'm done with the release. I let @wxmerkt manage this issue.

[2020-04-23 21:25] wxmerkt commented on #188
Release is out: https://github.com/ros/rosdistro/pull/24548

I'll leave the issue open until we know it passed the buildfarm.

[2020-04-24 10:47] wxmerkt commented on #188
Failure on Debian Buster is due to issue in detecting NumPy in the jrl-cmake-modules, cf. https://github.com/jrl-umi3218/jrl-cmakemodules/issues/373

[2020-04-24 19:51] wxmerkt commented on #188
We are still fighting memory exhaustion on the buildfarm when exposing the different Scalar types. I hope this will pass in stages over the next few days when it starves other jobs of their memory. Otherwise we can close this issue @jcarpent.

[2020-04-24 20:37] jcarpent commented on #188
Thanks for the report @wxmerkt and the fixes.
Thanks @sloretz for reporting this issue.

[2020-04-24 20:37] #188 closed

[2020-05-04 21:56] cmastalli opened #190 "Eigenpy compilation fails with the latest master branch of Eigen"
This is the message that I found:
[code]

[2020-05-05 07:32] jcarpent commented on #190
It has been fixed by https://github.com/stack-of-tasks/eigenpy/pull/186. I suppose you have not checked that?

[2020-05-05 07:48] cmastalli commented on #190
The code that I compiled uses the changes introduced in #186. However, I am still having this issue.
By inspecting that PR I noticed the follows:
[code]

why are you defining v3.3.9? It should be 3.3.7, right?

[2020-05-05 07:50] jcarpent commented on #190
No, everything works for 3.3.7. The master branch is in development mode for Eigen, so do not consider it as an official and released version.
3.3.90 means future release for 3.4.0.

[2020-05-05 08:15] cmastalli commented on #190
Sorry, I thought I was using this PR. For some reason, I confused it.

I confirmed there is no issue.

[2020-05-05 08:15] #190 closed

[2020-05-28 16:46] acxz opened #195 "Error when including `eigenpy.hpp`"
[code]

[2020-05-28 16:59] wxmerkt commented on #195
Hi @acxz,
I see you are compiling this for MoveIt on Arch using the Noetic release. I haven't tested either yet (and MoveIt hasn't been tested or released on Noetic). Can you please check whether numpy-dev is available and whether you can locate that header? (Or provide a docker to reproduce?)

Note: MoveIt is not yet using CMake targets but pkg-config.

[2020-05-28 17:14] acxz commented on #195
Hello @wxmerkt thx for responding

Just found out that there is a `ros-noetic-eigenpy` package that you are maintaining at https://github.com/ipab-slmc/eigenpy_catkin-release so I'm trying to build that package right now and use that as a dep instead of this repo. I'll let you know how it goes.

As for numpy headers I do have those installed.

[2020-05-28 17:17] wxmerkt commented on #195
@acxz: The release has a few patches applied on top of this repository for noetic to fix some CMake module issues, cf. https://github.com/ipab-slmc/eigenpy_catkin-release/tree/patches/release/noetic/eigenpy

Any questions, please let me know

[2020-05-28 18:01] acxz commented on #195
Is there any reason why these patches are not merged into this repository?

[2020-05-28 18:51] nim65s commented on #195
@acxz : on Arch, you can use directly https://aur.archlinux.org/packages/eigenpy/

[2020-05-28 19:09] acxz commented on #195
Hey @nim65s! Thx for responding

That is actually how I got theerror. So I was like hey maybe I should use the catkin package, but then looking at the latest moveit release they are using the system eigenpy, which does not work. It does however work with pkgconfig instead of find_package.

[2020-05-28 19:19] acxz commented on #195
The above mentioned PR resolves the issue for me. From what I understand, `find_package` does not properly work with eigenpy (might be some bug in eigenpy's CMakeLists.txt) so for me to use eigenpy in downstream packages I need to use its `pkgconfig` which resolved the issue for me for `moveit-ros-planning-interface`.

I'll keep this issue open since it seems like this points to a deeper issue in

[2020-05-28 19:21] jcarpent commented on #195
The cmake packaging of EigenPy is working and it is tested on the CI. Could you provide a tiny example to allow to reproduce it?

[2020-05-28 19:22] acxz commented on #195
@jcarpent sounds good, yeah maybe I am messing up somewhere locally on my end.

[2020-05-28 19:24] nim65s commented on #195
I see. And I also saw your https://aur.archlinux.org/cgit/aur.git/tree/eigenpy.patch?h=ros-melodic-moveit-ros-planning-interface

I think the issue is in `moveit_ros/planning_interface/move_group_interface/CMakeLists.txt` that compiles `moveit_ros/planning_interface/move_group_interface/src/wrap_python_move_group.cpp` under the `${MOVEIT_LIB_NAME}_python` target name on line 8.

[2020-05-28 19:34] acxz commented on #195
Just tried and it works, I think it is safe to close this since the issue is in the moveit repo.
Sorry for blaming the cmake packaging of eigenpy ...

Thx for quick response and the amazing software!

[2020-05-28 19:34] #195 closed

[2020-05-29 08:44] wxmerkt commented on #195
To clarify: The EigenPy packaged via ROS is the EigenPy in this repository, plus the fixes to the cmake module linked above. MoveIt uses EigenPy via ROS that includes these fixes. We spent a long time (a process that took weeks and coordination) to ensure backward compatibility when the PkgConfig/CMake packaging changed, so it should all still work. My latest checks on Melodic work, and so does th

[2020-07-02 15:20] nim65s opened #200 "on robotpkg, eigenpy library should have soversion"
Maybe on robotpkg, eigenpy library should be suffixed with the version number. @nim65s can you handle it ?

For pinocchio, we may do the same thing although it isn't as problematic right now (but may become in the future).

_Originally posted by @jmirabel in https://github.com/stack-of-tasks/pinocchio/issues/1229#issuecomment-653026773_

[2020-07-03 08:00] jcarpent commented on #200
Solved by #201.

[2020-07-03 08:00] #200 closed

[2020-07-06 13:43] Ozon2 opened #202 "Build error with numpy 1.19.0"
Hello, there is an error compiling eigenpy on Arch Linux with numpy 1.19.0.

[code]

This error probably comes from numpy/numpy#15355.
`pip install 'numpy<1.19.0'` fixes the issue.

[2020-07-06 13:53] nim65s commented on #202
Thanks for the report ! I think this can be a relatively low priority, as the workaround is trivial, but the fix seems really easy too: https://github.com/tensorflow/tensorflow/pull/40728

[2020-07-15 17:21] jcarpent commented on #202
Thanks a lot @Ozon2 for raising this issue. I've proposed a fix here #203. I will proceed to a new release afterwards.

[2020-07-15 19:40] jcarpent commented on #202
Solved by #203.

[2020-07-15 19:40] #202 closed

[2020-07-21 04:12] WenqiangX commented on #86
Hi, I met the same problem, could you please tell me how you solve it?
I have read through the "solution" page, but I am not sure what the solution is.

[2020-07-21 07:18] nim65s commented on #86
Hi @WenqiangX,
On that issue, the original author is on ArchLinux, and can't find `eigenpyConfig.cmake`. If eigenpy is installed with AUR, this file is in `/usr/lib/cmake/eigenpy`

[code]

Can you check that you have this file ? According to [CMake documentation](https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure), this correspond to the first search path on unix: `<pre

[2020-07-21 17:03] jwhendy commented on #86
@WenqiangX sorry, it's been so long I don't recall what I meant by that link above anymore. I almost wonder if the "solution" was more like it not being a ROS package so ROS wasn't looking for that `.cmake` file, though I can confirm that I also have the file in the location showsn by @nim65s .

[2020-07-22 03:39] WenqiangX commented on #86
Thanks for your responses.
Due to network issue, I cannot make the ubuntu `apt` install successful.
I tried `dpkg -i` install with deb package I download directly from the site. But the file is not there.
In the end, I actually make it work with moveit by `conda install` eigenpy.
Though the moveit is compiled with /usr/bin/python3, I create a conda environment with exact same version of the /usr/b

[2020-07-22 16:26] jwhendy commented on #86
@WenqiangX Ah, you're on Ubuntu. Looking at [their instructions](https://github.com/stack-of-tasks/eigenpy) and [repo](http://robotpkg.openrobots.org/packages/debian/pub/dists/bionic/robotpkg/binary-amd64/), I downloaded `robotpkg-py36-eigenpy_2.4.0_amd64.deb` manually.

[code]

It looks like it should be there? Or did I examine the wrong package?

[2020-07-23 07:46] nim65s commented on #86
yes, with robotpkg, to let CMake find `/opt/openrobots/lib/cmake/eigenpy/eigenpyConfig.cmake`, you need `export CMAKE_PREFIX_PATH=/opt/openrobots`

[2020-07-23 07:53] nim65s commented on #86
for Ubuntu, instructions to use robotpkg binary apt repository are provided here: https://stack-of-tasks.github.io/pinocchio/download.html

[2020-07-24 02:53] WenqiangX commented on #86
Thanks again for your help!

[2020-08-10 08:56] oarriaga opened #206 "build fails in archlinux"
Hi, I am trying build pinocchio from AUR but whenever it tries to build eigenpy I encounter the following error:
[code]
It seems have found Boost  and python3.8 so I don't know if it may be an incorrect syntax in the CMake file. Thanks!

[2020-08-10 09:17] nim65s commented on #206
Hi @oarriaga,
Just to be sure: are you building the latest release, or eigenpy-git ?

[2020-08-10 09:34] nim65s commented on #206
I can't reproduce your issue on a clean container, with `base-devel`, `git` and `yay-bin`, running `yay -Syu --noconfirm eigenpy`, so I guess something comes from your side.

[2020-08-10 09:43] nim65s commented on #206
I'd say that CMake finds `boost`, but not `boost-libs`, because on  `cmake/boost.cmake:71`, it looks like  `Boost_LIB_VERSION` is not defined correctly in your case. But `boost-libs` is correctly defined as a dependency in `eigenpy/PKGBUILD`.

[2020-08-10 09:57] jcarpent commented on #206
@oarriaga Which version of CMake are you using?

[2020-08-10 16:22] oarriaga commented on #206
Thanks for the fast responses :-)
I am installing `eigenpy` by:

[code]

My cmake version is:

[code]

[2020-08-10 18:23] oarriaga commented on #206
Hi, yes you were right it was not finding boost-libs but it was installed.

I found [this ](https://bugs.archlinux.org/task/64132)and it seems like my PATH variable was confusing CMake for the actual path for boost, but now It's building.

Thanks :-)

[2020-08-10 18:23] #206 closed

[2020-08-17 18:55] cmastalli opened #208 "I cannot expose Eigen::Matrix<double, 4, 6>"
When I tried to expose this object in Crocoddyl,  I have the compilation error described above.
I follow the standard procedure to expose this type of matrix, i.e.
[code]

[code]

[2020-08-18 15:23] jcarpent commented on #208
Solved by #209.

[2020-08-18 15:23] #208 closed

[2020-08-18 15:32] cmastalli commented on #208
@jcarpent thanks for fixing the issue. I will try asap.

[2020-08-21 19:05] wxmerkt opened #210 "Writing to subsets of vectors fails silently"
This issue could stem from Boost.Python but I am wondering if there is a way to make this more transparent rather than silently fail.

**What's happening**
I am trying to modify a subset of a vector. Often these are exposed as properties using get_vector, set_vector (with or without Eigen::Ref). Say, I have a Nd-vector and now I want to modify only a subset e.g. `vector[0:3] = 3.`. This operation

[2020-08-24 08:46] jcarpent commented on #210
Pinocchio does not have the feature activated already. We may switch now. @wxmerkt what do you think?

[2020-08-24 08:52] jmirabel commented on #210
Does this mean the feature exists but isn't used ?

[2020-08-24 08:55] wxmerkt commented on #210
Being able to use the indexing would be nice and really user-friendly of course. Would that mean switching to `Eigen::Ref` or to use direct access rather than getter/setter?

My main point is: Can there be a warning/exception when a user tries to write to a subset and it silently fails? It doesn't even trigger the setter - it just does nothing but appears to do something (because no error/warning/

[2020-08-24 08:58] jcarpent commented on #210
This means that the feature exists but we are not activating it when building the bindings.

[2020-08-24 09:00] jmirabel commented on #210
What is the reason for not activating it ? I agree with @wxmerkt that it is a nice feature. I am regularly annoyed by this issue.

[2020-08-24 09:05] jcarpent commented on #210
No apparent reason, just nobody took the time for it. I will handle it.

[2020-08-24 09:06] #210 closed

[2020-08-24 09:36] wxmerkt commented on #210
Without activating it, is there a way to have/force an error/exception to trigger when it's not activated? Because without explicitly activating, it fails silently which is a huge "gotcha".

[2020-08-24 10:09] jcarpent commented on #210
This feature should be on the side of NumPy, not on the side of Pinocchio/EigenPy. There is no way from our side to mention it.

[2020-08-24 10:27] wxmerkt commented on #210
Thanks, makes sense and something to keep in mind

[2020-08-24 17:54] jcarpent commented on #210
@wxmerkt @jmirabel I've just realized that a feature was missing for Pinocchio, which was the exposition of Eigen::Ref to Python.
#211 solves this issue.
After that, we will proceed to a new Release.

[2020-10-15 02:55] akihikoy opened #213 "Dependency error on ament_cmake"
Hello,
When building my package, I got a dependency error of `eigenpy` on `ament_cmake`.
My ROS version is kinetic.

Details:
The error message was:

`eigenpy` is referred to in `moveit_ros_planning_interface`, which my package depends on.

Since I installed `moveit_ros_planning_interface` and `eigenpy` from binary repository, I expected `ament_cmake` is provided as a binary package, but I cannot

[2020-10-15 04:53] olivier-stasse commented on #213
Dear @akihikoy,
Thanks for the feedback the package.xml file of eigenpy is following format 3 as described [in the related ROS specifications](https://www.ros.org/reps/rep-0149.html#compatibility). This allow the build system to switch between catkin in ROS1 and ament on ROS2.

Switching between one or the other depends on the value of the base ROS_VERSION environment variable, and here in your ca

[2020-10-15 12:38] akihikoy commented on #213
Dear @olivier-stasse ,
Thank you for your support!
I checked the ROS_VERSION and it was already set to be 1.
[code]
I also tried to write `set(ROS_VERSION "1")` in my CMake file, but the error was the same.  But [package.xml](package.xml) looks correct.  Then, would this error be caused by the build system...?

Regards,

[2020-10-15 13:21] olivier-stasse commented on #213
Dear @akihikoy,
Thanks for the information.

According to this [PR](https://github.com/ros/catkin/pull/1025) catkin on kinetic has been upgraded to handle package.xml with the attribute _condition_. As this is a feature of package format 3 could you confirm that your catkin packages are up to date ?

[2020-10-15 14:32] akihikoy commented on #213
Dear @olivier-stasse ,
Thank you for the support.

Yes, I executed `apt-get update` and confirmed `ros-kinetic-catkin` is the latest version (0.7.20-1xenial-20191213-232805+0000; BTW my OS is Ubuntu 16.04).
Actually I installed the OS and ROS just a week ago.  Most of the packages should be latest.

Definitely the binary package version of catkin (for kinetic or Ubuntu 16.04) is older than the lat

[2020-10-16 07:44] olivier-stasse commented on #213
Dear @akihikoy,
Thanks again for the feedback. I'll try to check and get back to you. But in the meantime if you could provide a minimal package example that exhibit the problem it will help to find a solution.

[2020-10-22 08:23] jcarpent commented on #213
Any news on this issue?

[2020-10-22 14:16] olivier-stasse commented on #213
Well, we checked with @nim65s but ros-kinetic-pinocchio depends on ros-kinetic-eigenpy and the ROS buildfarm is not complaining.

In addition, today I quickly installed ```https://github.com/ros-planning/moveit_tutorials``` inside a catkin workspace. The installation located was done in the docker ```osrf/ros:kinetic-full-desktop```. The tutorials depends on the package ```moveit_ros_planning_inte

[2020-10-22 14:18] jcarpent commented on #213
Thanks @olivier-stasse for your quick and detailed feedback. @akihikoy Could you give us your status on this issue?

[2020-11-20 16:58] jcarpent commented on #213
I will close this issue since there is no activity so far. @akihikoy Feel free to reopen it.

[2020-11-20 16:58] #213 closed

[2021-01-18 20:25] gabrielebndn opened #220 "Quaternion's constructor does not recognize a 4-element numpy array"
The following test:
[code]
fails with the following error:
[code]

On the other hand, the slightly modified test below, using a two-dimensional column array, passes without problems:
[code]

[2021-01-18 20:27] gabrielebndn commented on #220
Tested on: Ubuntu 20.04, Python 3.8.5, IPython 7.13.0, numpy 1.19.1

[2021-01-18 20:29] gabrielebndn commented on #220
I couldn't manage to understand where the problem is, because it seems 3-element arrays work fine:
[code]

[2021-01-18 20:32] gabrielebndn commented on #220
I think it could be easily be fixed by using `VectorXd` as an input and checking for the size, but it looks like a deeper problem with `Vector4` itself

[2021-01-18 20:34] gabrielebndn commented on #220
Notice the constructor from a single 4-element `numpy.array` isn't checked in the unit tests

[2021-01-18 21:32] gabrielebndn commented on #220
I think I am starting to understand the problem: in C++ there exists a single constructor accepting `MatrixBase` as input, which

https://eigen.tuxfamily.org/dox/classEigen_1_1Quaternion.html#aba694e0bbafcf5554b77cfe8ce69c14a

and the array gets treated like a matrix. If I do not expose the constructor from a 3D matrix, the array one works

[2021-01-18 21:36] gabrielebndn commented on #220
I've tried working on it with no satisfactory results, I'll leave it to you. I think my comment above is a good start

[2021-01-19 07:24] jcarpent commented on #220
Who is the you that you mention in the previous message?

[2021-01-19 09:12] gabrielebndn commented on #220
Well, anybody willing to work on this. I've done my best trying to fix it, sorry, but I am really not sure how to go forward, and also I think the solution may involve design choices which should probably be taken by someone more directly involved in Eigenpy's development

As for myself, I've worked quite a bit in order to identify the problem as narrowly as possible, but I don't have much time fo

[2021-01-19 15:04] jcarpent commented on #220
The issue is due to Boost.Python which does some mix between equivalent constructor (as done in fact by Eigen).
I've switched the order of exposing constructor and it does work well.

[2021-01-19 20:46] jcarpent commented on #220
Solved by #221.

[2021-01-19 20:46] #220 closed

[2021-02-26 00:00] heli-sudoo opened #222 "dpkg: error processing archive /var/cache/apt/archives/robotpkg-py27-eigenpy_2.6.1_amd64.deb (--unpack):"
I tried install eigenpy using  sudo apt install robotpkg-py27-eigenpy, and I got the following error:

dpkg: error processing archive /var/cache/apt/archives/robotpkg-py27-eigenpy_2.6.1_amd64.deb (--unpack):
 trying to overwrite '/opt/openrobots/include/eigenpy/angle-axis.hpp', which is also in package robotpkg-py36-eigenpy 2.6.1
dpkg-deb: error: paste subprocess was killed by signal (Broken pipe)

[2021-02-26 06:47] jcarpent commented on #222
You have already installed robotpkg-py36-eigenpy. You need to uninstall it first.

[2021-02-26 06:47] #222 closed

[2021-03-23 08:19] jcarpent opened #224 "Add support of Eigen::Array"
Currently, we only support so far Eigen::Matrix and Eigen::Map.
It should be nice to extend the current API to also support Eigen::Array. This should be straightforward with the current setup.

[2021-04-03 09:49] robopassio opened #227 "Cannot import after installing"
Cannot import after installing
[code]
I got
[code]

[2021-04-03 09:51] jcarpent commented on #227
You are missing the definition of your PYTHONPATH:
[code]

[2021-04-03 09:51] #227 closed

[2021-05-02 02:36] liangbright commented on #224
great work. can you also support sparse matrix so that we can use sparse linear system solvers?
The input sparse matrix could be in the COO format, so a sparse matrix class is not needed as NumPy does not have one

[2021-05-05 14:14] mauku opened #230 "Import error"
Hi ,
i have installed the package for python 3.6 with the following command : sudo apt install robotpkg-py36-eigenpy
However , when I try to import eigenpy i get the following error :
 import eigenpy
  File "/opt/openrobots/lib/python3.6/site-packages/eigenpy/__init__.py", line 17, in <module>
    from .eigenpy import *
ImportError: /usr/lib/x86_64-linux-gnu/libboost_python-py27.so.1.65.1: undefin

[2021-05-05 14:38] jcarpent commented on #230
Dear @mauku,

You should uninstall eigenpy for Python 2.7.
[code]

On a large level, I would recommand to use conda to install eigenpy for easy and robust installation, if you are not confident with your current environment settings.

[2021-05-06 07:56] #230 closed

[2021-05-06 10:24] mauku commented on #230
Thanks for the fast answer. I already installed eigenpy for Python 2.7 . The issue stays the same. I would prefer the debian package over conda, since I don't have the best experiences with conda.

[2021-05-06 10:27] jcarpent commented on #230
In fact, you should uninstall this package. There is a conflict between eigenpy for Python 2.7 and eigenpy for Python 3.6

[2021-05-06 10:37] mauku commented on #230
Sorry i misswrote , i uninstalled the package , but the error stays

[2021-05-06 10:47] jcarpent commented on #230
Could you do: `locate libeigen.so`
And also `export LD_LIBRARY_PATH=/opt/openrobots/lib:$LD_LIBRARY_PATH`

[2021-05-06 11:14] mauku commented on #230
Doesn't find any libeigen.so only libeigenpy.so. But I think I found the issue. There was one libeigenpy.so file from ros melodic eigenpy package for python2. After removing all eigenpy files for ros it seems to work.

[2021-05-06 11:15] jcarpent commented on #230
Yes, I meant `libeigenpy.so`

[2021-05-06 11:21] wxmerkt commented on #230
It's important not to mix and match EigenPy from ROS and EigenPy from RobotPkg particularly across different Python versions. It can be worked around by sourcing / setting the paths in the right order but your best bet is to use conda since it will fix the paths for you when activating the environment. Another workaround to removing - since this will break Moveit - would be _not to source ROS by d

[2021-05-11 10:14] mauku commented on #230
Okay thank alot for the answer !Is there a way to use eigenpy for python2 and python3 with still sourcing the ros package path , since I need other ros packages .

[2021-05-11 10:41] wxmerkt commented on #230
Right now you cannot use Python 2 and Python 3 simultaneously with the same path variables. You would have to set them per-workspace/console/bash environment - e.g. only source ROS when using ROS - and only set the LD_LIBRARY_PATH and PYTHONPATH for openrobots when using robotpkg's version

[2021-05-18 10:19] cmastalli opened #231 "Quaternion leads to segfault with -march=native"
I have compiled eigenpy with clang-10 (Release mode) and the following flags: `-march=native -mfpmath=sse`. Then, the following code leads to a segfault:
[code]

[2021-05-18 10:41] nim65s commented on #231
Can't reproduce.

Here are the steps I followed, on a 18.04 machine:
[code]

As expected, I get
[code]

[2021-05-18 10:48] nim65s commented on #231
ok, my `CXX_FLAGS`was wrong.

I can reproduce with
[code]

Only the geometry test segfaults.

[2021-05-18 10:59] cmastalli commented on #231
Yes, that's correct! I also observed that `test_geometry.py` failed.

Btw, I have also similar issues with `Pinocchio.Quaternion`, but I am not sure if it is also rooted to this one.

[2021-05-18 11:00] jcarpent commented on #231
Again, please provide the version of Eigen, Boost, Python and Eigenpy you are using. Otherwise, it will be hard to provide sound help.

[2021-05-18 11:02] jcarpent commented on #231
Did you try the C++ equivalent action before opening this issue?

[2021-05-18 11:09] cmastalli commented on #231
This is my setup:
  - Eigen: 3.3.7
  - Boost: 1.65.1
  - Eigenpy: devel branch
  - Ubuntu 18.04

No, I didn't

[2021-05-18 11:33] jcarpent commented on #231
Please first try this aspect and come back latter with this useful feedback.

[2021-05-18 12:16] jcarpent commented on #231
No issue on my side.
This seems to be a conflict between different install of eigenpy.
I will close this issue as it does not seem related to eigenpy.

For future issues, you should provide a docker image replicating the issue for quick test and debugging.

[2021-05-18 12:49] cmastalli commented on #231
Are you sure?

This issue was reproduced by @nim65s.

I think it is too early for making that conclusion.

[2021-05-18 12:56] jcarpent commented on #231
Please start from a clean installation (e.g. Docker image) and we can discuss after that if the problem still occurs.

[2021-05-18 14:21] cmastalli commented on #231
I have no anymore the issue after cleaning up `ipython`. I realized that it was leading to segfault with `ipython` only (it was working well with `python`).

This is not exactly the @nim65s condition, but it could be a similar problem.

[2021-05-18 14:22] jcarpent commented on #231
Could you do: which python/ which ipython?

[2021-05-18 14:25] cmastalli commented on #231
No, I couldn't for ipython. But I believe it should be `/usr/bin/ipython`. Now I removed that one, I reinstalled the version using `pip install --user`.

For python, everything remains the same. So `which python` prints `/usr/bin/python`.

[2021-05-18 14:26] cmastalli commented on #231
What is the recommended approach (pip or apt install version)?

[2021-05-18 14:27] jcarpent commented on #231
The thing is that I don't think the issue is really ipython, but rather the fact that they were not based on the same version of Python.

[2021-05-19 01:17] cmastalli commented on #231
My previous comment was not correct. It still leads to segfault is your write the code using ipython console.

I have create a docker image, and I still find the same issue. You can pull the docker as `docker pull cmastalli/eigenpy-native:latest`, and the code of the Dockerfile is:
[code]

Unfortunately, we need to re-open this issue.

[2021-05-19 08:48] cmastalli commented on #231
solver either by #232 or #233.

I will close this issue. Thanks again @jcarpent for putting effort in providing a solution (I was getting desperate with this issue)

[2021-05-19 11:36] cmastalli commented on #231
Sorry, I need to reopen this issue as they are other problems. I will share a code that shows you which cases work and doesn't.
[code]

So, it seems we need to have sort of `static` constructors, right? In any case, I am not sure how this could be fixed.

[2021-05-19 13:14] jcarpent commented on #231
What is q2?
Did you recompile Pinocchio Python bindings with the same vectorization flags?
Could you update your docker image?

[2021-05-19 13:55] mauku opened #234 "Question about bug fix related to Quaternion initialization in Python in Eigenpy2.6.1"
Hi,
as mentoined in the title, i would like to ask what are the exact fixes for the bug mentioned in the Eigenpy2.6.1 release , Thanks in advance !

[2021-05-19 13:58] jcarpent commented on #234
This is related to https://github.com/stack-of-tasks/eigenpy/commit/61d25345f074e26586147596341c6715a3e7b73c#diff-6140fead50df77449f95d2bd6c41328a2f1d9b05c482f1db69cb6cd3bf3dcb34.
Do you encounter any trouble?

[2021-05-19 14:01] mauku commented on #234
Thanks for the fast answer :)
i am doing 6d pose estimation based on cosypose, which uses the eigenpy 2.6.0 version , I found out that when I use a newer version of eigenpy the estimated 6d poses are not correct anymore , I am not exactly sure why

[2021-05-19 14:02] jcarpent commented on #234
Could you provide a tiny example of what happens exactly?

[2021-05-19 14:04] mauku commented on #234
Yes i can provide some example images, with estimated poses with Eigenpy 2.6.0  and estimated pose for the same image with eigenpy newer version. for the 2.6.0 version the poses match quite good , but if I use a newer version they are completely wrong. I will upload some example if I have time

[2021-05-19 14:06] jcarpent commented on #234
Could you try EigenPy 2.6.3? It is on conda

[2021-05-19 14:08] mauku commented on #234
I tried with EigenPy 2.6.3 and 2.6.0 . For 2.6.0 the object poses are correct , but not for 2.6.3.

[2021-05-19 14:23] jcarpent commented on #234
Could you just show me where Quaternion are used in CosyPose?
In addition, could you isolate outside of CosyPose the Quaternion operation which leads to troubles?

Otherwise, I won't be able to provide help.

[2021-05-19 17:12] jcarpent commented on #231
Solved by #235.

[2021-05-19 18:26] cmastalli commented on #231
I tested the merged PR; and unfortunately, I still find the issue from my side (in this case I used `-march=native -mfpmath=sse`.
How do you test it?

[2021-05-19 19:19] jcarpent commented on #231
Please provide a docker image. I’m already spending too much time.

[2021-05-20 13:43] cmastalli commented on #231
I have updated my docker with Pinocchio installation.
You can also see that cases without Pinocchio also leads to segfault.

[2021-05-21 15:21] nim65s commented on #231
I made [this dockerfile](https://github.com/nim65s/gepetto-utils/blob/master/docker/eigenpy/devel.Dockerfile):

[code]

I think this is a minimal and standard way to reproduce this issue.

It can be used directly with `docker run --rm -it gepetto/utils:eigenpy-devel`, but the transfer between different computers of binaries compiled with `-march=native` is usually a bad idea.

This docker image is

[2021-05-22 06:53] jcarpent commented on #234
@mauku Are you sure the bug is coming from EigenPy? Did you update other software?
Again, I would need a minimal example not depending on CosyPose to fix the bug if it exists.

[2021-05-22 06:53] #231 closed

[2021-05-26 11:46] #234 closed

[2021-08-04 15:21] nim65s opened #243 "v2.6.5 unittest build broken on 16.04"
Hi,

It seems that I made a poor job at keeping the 16.04 CI alive.
I fixed that, but now we can see a user-type unittest build failure with:
[code]

followed by the same for `bp::def("print", print<float>);` on the next line.

v2.6.4 works well.

This is not a big issue, as nobody should still be using 16.04 :)

[2021-08-05 12:55] jcarpent commented on #243
Solved via #244.

[2021-08-05 12:55] #243 closed

[2021-08-05 12:55] jcarpent opened #247 "Add support of Eigen::Tensor"

[2021-08-05 12:55] jcarpent opened #248 "Add support of Eigen::SparseMatrix"

[2021-08-19 13:38] nim65s opened #252 "py-user-type unittest failing on Raspbery Pi"
Hi,

Raspbian buster 32bits, on a Raspberry Pi 4, raise the following issue with `python3-numpy` (python 3.7.3, numpy 1.16.2):
[code]

Upgrading numpy with pip to 1.21.2 (this require to install the `libatlas-base-dev` apt package) fails with the following one:
[code]

Eigen version: 3.3.4
Boost version: 1.65.1

Our goal is to embed all computations in a RPi on an [ODRI robot](https://open-dynamic

[2021-08-19 13:43] jcarpent commented on #252
The first trouble is expected. The second one is not really expected as we register the conversion types.
Could you give me the `type` of 1 in "/home/pi/.local/lib/python3.7/site-packages/numpy/core/numeric.py", line 205?

[2021-08-19 13:44] jcarpent commented on #252
But indeed, the user_type is mostly for making pinocchio compatible with CppAD types in Python.

[2021-08-19 16:06] proyan commented on #252
Is it possible for you to update the boost version as well?

[2021-08-19 20:04] nim65s commented on #252
@jcarpent : if I add `print(type(1))` before the failing line, I get `<class 'int'>`.
@proyan : sure, but I'll finish to compile what we need first ^^"

[2021-08-21 09:12] jcarpent commented on #252
@nim65s Could you give me access to the environment to quickly fix the issue?

[2021-08-27 09:16] shr-project opened #255 "Compatibility with boost-1.77.0"
1.77.0 was recently released https://www.boost.org/users/history/version_1_77_0.html

And this release contains a change in boost::python::detail::referent_storage:
https://github.com/boostorg/python/commit/aca3c80c4f80dd3d52219e1ee299e08bb980bcfd

which leads to eigenpy failing to build with:
[code]

[2021-08-27 12:44] #255 closed, assigned to nobody

[2022-01-31 18:28] cmastalli opened #265 "EigenPy seems to return wrong values for RowMajor matrices with 1 row"
This error can be reproduced in Crocoddyl with the double-pendulum example: https://github.com/loco-3d/crocoddyl/blob/master/examples/double_pendulum.py

When I return the feedback gains (using `solver.K`), I observe that the first value reported by the bindings is the last column of the K matrix, e.g
[code]

[2022-01-31 18:40] cmastalli commented on #265
**Update**:
The above issue doesn't occur when we switch to NumPy matrices.

[2022-02-02 00:42] cmastalli commented on #265
@jcarpent -- I have prepared a minimal example that depends on eigenpy only.
In the zip file, you have a Makefile that needs so you can compile the code with your setup.
Please read the "readme" file for more instructions.

[eigenpy_bug.zip](https://github.com/stack-of-tasks/eigenpy/files/7982800/eigenpy_bug.zip)

[2022-02-02 11:58] jcarpent commented on #265
Solved by #266

[2022-02-02 11:58] #265 closed

[2022-02-07 13:54] cmastalli commented on #231
Hi guys,

Sorry for bothered you again on this topic, but this issue still happens in my side, and #236 is not solving it.

@nim65s can you still reproduce the issue?

@jcarpent why is this issue closed? (we need to re-open this issue)

[2022-02-07 14:05] jcarpent commented on #231
Too many think to handle. I prefer to close it as it is me which entirely dealing with this kind of issue.

[2022-02-07 14:36] wxmerkt commented on #231
In principle, if it's a known issue that could lead to a segmentation fault, I'd leave the issue open and add something along the lines of `help wanted`.

**However, I can no longer reproduce this issue with the latest devel branch using the above modified Dockerfile on Ubuntu 20.04.** I've also run EigenPy with `-march=native` in deployment and it's been fine.

Dockerfile modified from Carlos' ab

[2022-02-07 14:45] jcarpent commented on #231
Good news if it is working now. Thanks @wxmerkt to check.

[2022-02-07 15:07] cmastalli commented on #231
It is crashing with this Python code:
[code]

and you might need to run several times to detect the segfault.

@wxmerkt  -- can you confirm if this works or not for you?

[2022-02-21 10:55] cmastalli opened #268 "Normalized function in Pinocchio Quaternion leads to segfaul under -march=native flag"
The following Python code leads to segfaul if you compile `eigenpy` and `pinocchio` with `-march=native` flag.
[code]

fyi @wxmerkt

[2022-02-21 11:01] jcarpent commented on #268
@cmastalli march native is hardware dependent. Please profile the compilation flags associated with the current context.

[2022-02-21 11:05] jcarpent commented on #268
@cmastalli Could you create a docker image to replicate the current behavior?

[2022-02-21 11:14] jcarpent commented on #268
Just to let you know everything goes well on my side.

[2022-02-21 12:08] cmastalli commented on #268
I compile the code in Release mode using clang-10. And I just included -march=native.

Furthermore, I installed eigenpy by source in the same way that Pinocchio. Boost, eigen are installed by binaries in a Ubuntu 20.04 OS and Python 3.8

Let me know if there something else that you would like to know

[2022-02-21 16:41] jcarpent commented on #268
Solved by #269

[2022-02-21 16:41] #268 closed

[2022-03-27 02:26] ma-sadeghi commented on #248
Thank you for creating this great package! Can I ask what the status of sparse matrix support is?

[2022-07-27 13:01] v4hn opened #299 "broken PYTHON_EXPORT_DEPENDENCY"
When I build the current eigenpy master branch or the release tag 2.7.8, the generated cmake config file `lib/cmake/eigenpy/eigenpyConfig.cmake` includes the following lines in that order:

[code]

where the first one is expanded from the variable `@PYTHON_EXPORT_DEPENDENCY_MACRO@` and the latter from `@PACKAGE_EXTRA_MACROS@`. Obviously these two are the wrong way around and as a result the build

[2022-07-27 13:01] nim65s commented on #299
Hi,
Please look at #298

[2022-07-27 13:09] nim65s commented on #299
and a release will follow, sorry for the inconvenience

[2022-07-27 13:13] nim65s commented on #299
by the way, I think your master is on 2.7.9, because this issue was introduced between 2.7.8 and 2.7.9. This explains why https://github.com/ros/rosdistro/pull/33942 is good

[2022-07-27 13:44] v4hn commented on #299
indeed it looks like your PR fixes it. :+1:

[2022-07-27 16:11] nim65s commented on #299
Fixed in https://github.com/stack-of-tasks/eigenpy/releases/tag/v2.7.10

[2022-07-27 16:11] #299 closed

[2022-08-06 19:14] arjung128 opened #302 "Compilation error when building from source"
Hi, I have been getting a compilation error when trying to build eigenpy from source. Here are the commands I'm using:

[code]

And here's the stack trace I'm getting:

[code]

Any ideas why this might be happening, and what can be done to resolve it? Thanks in advance!

[2022-08-06 20:10] jcarpent commented on #302
Could you show the output of cmake?

[2022-08-06 20:11] arjung128 commented on #302
[code]

[2022-08-06 20:16] jcarpent commented on #302
You have several Python versions on your OS. You should inform cmake which one you want to use using for instance:
`-DPYTHON_EXECUTABLE=$(which python)`.
If I were you, I would delete `/data02/arjung2/drawers/fresh-yosemite-v3/venv/bin/python`.

[2022-08-06 20:16] #302 closed

[2022-08-06 20:44] arjung128 commented on #302
Hi @jcarpent, thanks for the suggestion.

I removed `/data02/arjung2/drawers/fresh-yosemite-v3/venv` and added the flag to tell cmake which python to use:

[code]

Now, the python versions seem to line up in the cmake output (all 3.8, unlike above):

[code]

However, I am still getting the same make error as above:

[code]

Any ideas what could be going on? Thank you so much for your patience, I r

[2022-08-06 20:58] arjung128 commented on #302
This works on Ubuntu 20.04. Thanks so much for your help!!

[2022-08-09 17:54] brunopostle opened #303 "Build error with Boost 1.78.0"
I'm seeing an error building the 2.7.10 release on fedora 37, fedora 36 is ok.

Fedora 36 has:

* boost 1.76.0
* eigen3 3.4.0
* gcc 12.1.1
* python3 3.10.6
* python3-numpy 1.22.0

Fedora 37 has:

* boost 1.78.0
* eigen3 3.4.0
* gcc 12.1.1
* python3 3.11.0~b5
* python3-numpy 1.22.0

This is the build error:

[code]

[2022-08-09 18:45] jcarpent commented on #303
Thanks @brunopostle for raison this issue.
Please see #304 for the fix.

[2022-08-10 05:30] jcarpent commented on #303
Fixed by #304.

[2022-08-10 05:30] #303 closed

[2022-08-10 13:17] brunopostle commented on #303
Thanks, the 2.7.10 release + patch now builds with python3 3.11.0~b5 (and boost 1.78.0)

[2022-08-23 21:23] nim65s opened #309 "Broken CI for conda on windows"
Hi,

https://github.com/stack-of-tasks/eigenpy/runs/7976829564?check_suite_focus=true shows:
[code]

Looking at boost/assert/source_location.hpp:97, this is in `source_location::to_string` function, which was added in boost 1.78:
https://www.boost.org/doc/libs/1_80_0/libs/assert/doc/html/assert.html#changes_in_1_78_0

boost/convert/detail/config.hpp:55 is : `#   define snprintf _snprintf`, but it

[2022-08-24 14:16] jcarpent commented on #309
Solved via #310.

[2022-08-24 14:16] #309 closed

[2022-09-08 08:16] rhaschke opened #316 "ros-noetic-eigenpy 2.7.12 issues cmake warning"
[code]

[2022-09-08 08:53] jcarpent commented on #316
Thanks @rhaschke for the report. We will provide a new release soon removing this warning.

[2022-09-10 15:36] jcarpent commented on #316
The release v2.7.13 is done. Just waiting to be pushed on ROS ;)

[2022-09-10 15:36] #316 closed

[2022-09-14 02:03] RVSagar opened #320 "Latest eigenpy binaries for ROS Melodic"
Hi There,

I wanted to find out whether the latest eigenpy releases will be pushed to the ROS buildfarm for Melodic? I think the latest version as of this post (apt-get install ros-melodic-eigenpy) is 2.7.5. I'm mainly interested because I'm building a Docker container (with the [pinocchio3-preview](https://github.com/stack-of-tasks/pinocchio/tree/pinocchio3-preview) branch) which seems to require

[2022-09-14 06:14] wxmerkt commented on #320
Hi @RVSagar
They have been released to the staging/testing repository yesterday and will be available with the next sync. If you want to use them today, you can switch your apt-list to use `ros-testing`. Hope this helps

[2022-09-14 06:14] #320 closed

[2022-09-14 16:41] RVSagar commented on #320
@wxmerkt thanks for the update and options! (didn't know about `ros-testing`)

[2022-09-24 15:30] psclklnk opened #322 "Segmentation Fault on Import (Probably due to RPATH Setup)"
Hello everyone,

I currently have an issue using this library (and with that the beautiful pinocchio library) on my M1 Macbook. While the installation via conda works smoothly, I get a segmentation fault as soon as I try to import eigenpy.

My conda setup is nothing really special, I simply ran the following lines to set it and eigenpy up:

[code]

After that, running a simple

[code]

in the comm

[2022-09-24 18:18] jcarpent commented on #322
Dear @psclklnk,

Thanks for raising this issue.
Could you provide the result of `conda list` to know precisely your current setup?

When working with conda-forge, you should always enforce the following setting:
[code]
Have you done it?

Best,
Justin

PS: on the conda-forge build-farm, it seems there is no falling when testing the import. I hope the previous advises would help.

[2022-09-24 19:21] psclklnk commented on #322
Dear @jcarpent ,

regarding the prioritization, I think have the right setup. My .condarc has the following content

[code]

The output of conda list is

[code]

Coincidentally, I found an old conda environment which had Pinocchio (and hence eigenpy) installed where it works! Interestingly, it has the same dependency and rpath setup as the eigenpy installation in the failing conda environment. How

[2022-09-24 20:16] jcarpent commented on #322
I think the issue is boost-python 1.78 (boost conda package) within conda which has been compiled with clang 13 and is delivered with clang 14.
We had several discussions on this topic with @traversaro recently.
@traversaro Do you know when this issue will be solved? Should we update boost 1.78 to use clang 14 directly?

[2022-09-25 12:43] psclklnk commented on #322
Ah maybe yes. Maybe I can either confirm or confute the clang 14 assumption to help in fixing this issue for the future.

Checking the compiler of the conda environment in which I built eigenpy from source (i.e. the one in which it worked with boost 1.78.0), gave me version 14.

[2022-09-26 07:47] traversaro commented on #322
boost 1.78 build on conda-forge still ue clang 13, and the migration to it (not to mention boost 1.80) is still ongoing: https://conda-forge.org/status/#boost1780 .

For the time being, the safest solution is to add a `conda_build_config.yaml` file in the recipe directory :

[code]

and re-render. This would avoid the need to manually modify the files as done in https://github.com/conda-forge/eige

[2022-09-26 09:04] jcarpent commented on #322
Thanks a lot @traversaro for this hint. I've just opened a new PR https://github.com/conda-forge/eigenpy-feedstock/pull/98

[2022-09-26 11:48] jcarpent commented on #322
Should be solved now.

[2022-09-26 11:48] #322 closed

[2022-09-27 06:33] psclklnk commented on #322
Thanks for the update! I will try it later when I am back at my computer to confirm

[2022-10-03 16:05] ManifoldFR opened #324 "Proposal: port StdVectorPythonVisitor from Pinocchio's bindings"
The header is here: https://github.com/stack-of-tasks/pinocchio/blob/devel/bindings/python/utils/std-vector.hpp (or a more recent version).
I recently suggested moving/copying the **`StdVectorPythonVisitor`** template from Pinocchio's bindings upstream to this repo, so that downstream packages don't have to import or copy the header from Pinocchio.

We could also import the **`StdContainerFromPyth

[2022-10-03 18:50] jcarpent commented on #324
Please move forward ;)

[2022-10-03 18:51] jcarpent commented on #324
Thanks in advance

[2022-11-29 17:02] ManifoldFR opened #330 "Enforce consistency between input numpy layout and expected Eigen object memory layout"